
<script>
$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var audio_panels_link = $(".audio_panels_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_link=="true" ) {
      audio_panels_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      audio_panels_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var game_5_link = $(".game_5_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).game_5_link=="true" ) {
      game_5_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      game_5_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>

<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Ratings</h3> -->

      <!-- custom url modal -->
      <br><br>
      
      <!-- <a ui-sref="media-overview.mobile-panels.tldr" class="btn btn-success" ng-click="app.click_history.mobile_panels_modal_link = 'true';" class="mobile_panels_link">TLDR</a> -->



      <!-- <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
        In its most basic sense, a rating is the percentage of a specific population that was exposed to a particular piece of content or ad. Media owners and advertisers use ratings to understand the reach of specific content or ad (i.e., how many people watched, saw or heard it), which informs their advertising and marketing decisions. Nielsen provides ratings for content and advertising distributed across traditional television, digital devices and radio.
      </p>
      
    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.audio-panels" class="leftArrow" ng-click="app.click_history.audio_panels_link = 'true';" class="audio_panels_link" id="audio_panels_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.game-5" class="rightArrow" ng-click="app.click_history.game_5_link = 'true';" class="game_5_link" id="game_5_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>
  </div>
</div>