<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var audio_panels_methods_link = $(".audio_panels_methods_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_methods_link=="true" ) {
      audio_panels_methods_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      audio_panels_methods_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var panels_game_link = $(".panels_game_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).panels_game_link=="true" ) {
      panels_game_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      panels_game_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>


<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Overview</h3> -->

      <!-- custom url modal -->
      <br><br>
      
      <!-- <a ui-sref="media-overview.platforms.tldr" class="btn btn-success" ng-click="app.click_history.platforms_modal_link = 'true';" class="platforms_link">TLDR</a> -->  

      <h3 class="page-title red">Audio Panels - Panels</h3>

      
  <!-- tab -->
      <div ng-controller="AudioPanelsPanelsTabsCtrl" class="panel game-box" set-ng-animate="false">

        <p class="">Using these methods and techniques, Nielsen maintains two audio panels to measure consumption habits.</p>

        <br>

        <tabset justified="true">
          <tab ng-repeat="tab in tabs" active="tab.active">

            <tab-heading>
              <img src="img/{{tab.img}}" class="tab-heading-img">
              <p class="tab-heading-text">{{tab.title}}</p>
            </tab-heading>

            <div class="content-text">
              <div class="tab-content-text">
                <p ng-repeat="paragraph in tab.content" class="text-justify" ng-class="paragraph.type">{{paragraph.value}}</p>
              </div>
            </div>

          </tab>
        </tabset>

        <br><br><br>

        <p>Audio consumption is evolving. Boomboxes aren’t a thing anymore. As consumers jam out to music in their cars or on their smartphones, Nielsen’s audio panels provide marketers with a truth set to fully understand what consumers are tuning into on a regular basis.</p>
        <p>Television stations/networks can also encode for PPM measurement.</p>

      </div>
      <!-- / tab -->

    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.audio-panels-methods" class="leftArrow" ng-click="app.click_history.audio_panels_methods_link = 'true';" class="audio_panels_methods_link" id="audio_panels_methods_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.panels-game" class="rightArrow" ng-click="app.click_history.panels_game_link = 'true';" class="panels_game_link" id="panels_game_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>