<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var digital_panels_panels_link = $(".digital_panels_panels_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).digital_panels_panels_link=="true" ) {
      digital_panels_panels_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      digital_panels_panels_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var audio_panels_methods_link = $(".audio_panels_methods_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_methods_link=="true" ) {
      audio_panels_methods_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      audio_panels_methods_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>


<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Overview</h3> -->

      <!-- custom url modal -->
      <br><br>
      
      <!-- <a ui-sref="media-overview.platforms.tldr" class="btn btn-success" ng-click="app.click_history.platforms_modal_link = 'true';" class="platforms_link">TLDR</a> -->  

      <h3 class="page-title red">Audio Panels - Overview</h3>

      
  <!-- tab -->
      <div ng-controller="AudioPanelsOverviewTabsCtrl" class="panel game-box" set-ng-animate="false">

        <p class="">Audio remains one of the top platforms that audiences use to consume media. The need for currency-grade measurement utilizing methods such as representative panels is important.</p>
        <p>Nielsen uses two methods to measure terrestrial audio consumption.</p>

        <br>

        <tabset justified="true">
          <tab ng-repeat="tab in tabs" active="tab.active">

            <tab-heading>
              <img src="img/{{tab.img}}" class="tab-heading-img">
              <p class="tab-heading-text">{{tab.title}}</p>
            </tab-heading>

            <div class="content-text">
              <div class="tab-content-text">
                <p ng-repeat="paragraph in tab.content" class="text-justify">{{paragraph}}</p>
              </div>

            </div>

          </tab>
        </tabset>

        <br><br><br>

        <p>Portable people meters (PPMs) listen for watermarks, similarly to what TV meters listen for in Nielsen TV panels, which are a unique sounds inaudible to the human ear that are placed on programming transmitted from all measured AM/FM radio stations in the U.S. When a panelist tunes into a certain station, Nielsen’s meters will note the code for that radio station to calculate audio ratings.</p>

      </div>
  <!-- / tab -->

    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.digital-panels-panels" class="leftArrow" ng-click="app.click_history.digital_panels_panels_link = 'true';" class="digital_panels_panels_link" id="digital_panels_panels_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.audio-panels-methods" class="rightArrow" ng-click="app.click_history.audio_panels_methods_link = 'true';" class="audio_panels_methods_link" id="audio_panels_methods_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>