<div class="quiz-area" ng-show="inProgress" style="
    font-family: brandon-medium;
    font-size: 16px;
">
	<div ng-show="!quizOver">
		<h2 id="question" style="
	font-size: 20px;
    padding: 0% 0% 10% 0%;"
    >{{question}}</h2>
		<ul id="options" style="
		text-align: center;
    list-style: none;
    padding: 0;">
			<li ng-repeat="option in options">
				<label>
					<input type="button" name="answer" value="{{option}}" style="    
	background: #ffffff;
    border: 2px solid #d60037;
    padding: 5%;
    width:61px; ">
					<!-- {{option}} -->
				</label>
			</li>
		</ul>
		<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>

		<div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns">That is correct!</span>
			<span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
		</div>
	</div>

	<div ng-show="quizOver">
		<h2>Quiz is over</h2>
		<button ng-click="reset()">Play again</button>
	</div>

	<div id="score">
		Score: {{score}}
	</div>
</div>

<div class="intro" ng-show="!inProgress">
	<button id="startQuiz" ng-click="start()">Start the Quiz</button>
</div>