doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Nicolai Robles - Full Stack Engineer + Designer 
  meta(name='description', content='Nicolai Robles - Full Stack Engineer + Designer')
  meta(name='author', content='')
  link(rel='icon', href='/images/favicon.ico')
  //- data viz
  link(href="css/data-viz/bootstrap.min.css" rel="stylesheet")
  link(href="css/data-viz/scrolling-nav.css" rel="stylesheet")
  link(href="css/data-viz/jasny-bootstrap.min.css" rel="stylesheet")
  //- link(href="css/data-viz/main.css" rel="stylesheet")
  //- link(href="css/data-viz/home.css" rel="stylesheet")
  //- main css
  //- link(rel='stylesheet', href='css/meta.css', type='text/css', media='screen')
  link(rel='stylesheet', href='css/meta-addons.css', type='text/css', media='screen')

//- resume in html   
.container-fluid
  .row
    .col-md-12
      .jumbotron
        .row
          .col-md-8
            h3
              | Nicolai Robles
          .col-md-4
            h2
              | Social Media
            p
              | Update Date
            p
              a.btn(href='#') Download pdf »
        p
          a.btn.btn-primary.btn-large(href='#') Learn more

      .row
        .col-md-4
          h2
            | Skills
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn(href='#') View details »
        .col-md-8
          h2
            | Full-Stack Engineering Experience
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
          p
            a.btn(href='#') View details »

include ../partials/footer

