<!-- Temporary Script to apply styles to respond to variables stored in localStorage.click_history -->
<!-- TODO: create angular directive to handle this efficiently -->
<!-- Nicolai - I removed some of the unnecessary nav classes - text-xs - and applied a section-header class in this place - i left the text-muted value in in case you wanted to remove that class to show the red state after a user has clicked into that section - gb -->

<script type="text/javascript">

  // potential refactor
    // var addLinkClickedClass = function(navBarLinksArray){
    //   console.log("created navBarLinksArray and entered funtion to add link-clicked class")

    //   for (var i = 0; i < navBarLinksArray.length; i++) {

    //     var localStorage_link_name = navBarLinksArray[i];

    //     // create jquery variable
    //     var jquery_link_name = $("."+localStorage_link_name)

    //     // check localStorage, add class if true
    //     console.log("localStorage boolean: " + localStorage_link_name)
    //     console.log("$localStorage boolean: " + $localStorage.click_history[localStorage_link_name])

    //     if ( $localStorage.click_history[localStorage_link_name]=="true" ) {
    //       angular.element( document.querySelector( '.'+localStorage_link_name)).addClass("link-clicked");
    //       jquery_link_name.addClass("link-clicked");
    //       console.log(jquery_link_name + " is " + $localStorage.click_history[localStorage_link_name])
    //     }

    //     // 
    //     $(".video_text_audio_link").on("click", function(){
    //       $(".video_text_audio_link").addClass("link-clicked");
    //       console.log("jquery_link_name clicked on"+jquery_link_name)
    //     });

    //   }
    // };
  // Declare variables for easy use

    // Section 1
    var media_is_link = $(".media_is_link")
    var video_text_audio_link = $(".video_text_audio_link")
    var is_this_media_link = $(".is_this_media_link") // starred
    var content_and_ads_link = $(".content_and_ads_link")
    var ad_models_link = $(".ad_models_link")
    var linear_vs_dynamic_link = $(".linear_vs_dynamic_link") // starred
    var platforms_link = $(".platforms_link")
    var game_3_link = $(".game_3_link") // starred
    var key_players_link = $(".key_players_link")
    var what_have_we_learned_link = $(".what_have_we_learned_link")
    // Section 2
    var where_does_nielsen_come_in_link = $(".where_does_nielsen_come_in_link")
    var what_are_ratings_link = $(".what_are_ratings_link")
    var ratings_reports_link = $(".ratings_reports_link")
    var primary_playback_periods_link = $(".primary_playback_periods_link")
    var game_4_link = $(".game_4_link") // starred
    var how_do_we_get_ratings_link = $(".how_do_we_get_ratings_link")
    var panels_link = $(".panels_link")
    var tv_panels_link = $(".tv_panels_link")
    var audio_panels_link = $(".audio_panels_link")
    var mobile_panels_link = $(".mobile_panels_link")
    var game_5_link = $(".game_5_link") // starred
    var census_data_link = $(".census_data_link")
    var privacy_link = $(".privacy_link")

   // Add link-clicked class if in localStorage

    // media_is page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).media_is_link=="true" ) {
      media_is_link.addClass("link-clicked");
    }
     // video_text_audio page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).video_text_audio_link=="true" ) {
      video_text_audio_link.addClass("link-clicked");
    }
    // is_this_media page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).is_this_media_link=="true" ) {
      is_this_media_link.addClass("link-clicked");
    }
    // content_and_ads page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).content_and_ads_link=="true" ) {
      content_and_ads_link.addClass("link-clicked");
    }

    // ad_models_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).ad_models_link=="true" ) {
      ad_models_link.addClass("link-clicked");
    }

    // linear_vs_dynamic_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).linear_vs_dynamic_link=="true" ) {
      linear_vs_dynamic_link.addClass("link-clicked");
    }

    // platforms link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).platforms_link=="true" ) {
      platforms_link.addClass("link-clicked");
    }

    // game_3 link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).game_3_link=="true" ) {
      game_3_link.addClass("link-clicked");
    }

    // overlay link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).key_players_link=="true" ) {
      key_players_link.addClass("link-clicked");
    }

      // what_have_we_learned link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_have_we_learned_link=="true" ) {
      what_have_we_learned_link.addClass("link-clicked");
    }
      // where_does_nielsen_come_in link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).where_does_nielsen_come_in_link=="true" ) {
      where_does_nielsen_come_in_link.addClass("link-clicked");
    }

    // what_are_ratings page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_are_ratings_link=="true" ) {
      what_are_ratings_link.addClass("link-clicked");
    }

    // ratings_reports page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).ratings_reports_link=="true" ) {
      ratings_reports_link.addClass("link-clicked");
    }

    // primary_playback_periods page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).primary_playback_periods_link=="true" ) {
      primary_playback_periods_link.addClass("link-clicked");
    }

    // game_4 page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).game_4_link=="true" ) {
      game_4_link.addClass("link-clicked");
    }

          // how_do_we_get_ratings link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).how_do_we_get_ratings_link=="true" ) {
      how_do_we_get_ratings_link.addClass("link-clicked");
    }

    // panels page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).panels_link=="true" ) {
      panels_link.addClass("link-clicked");
    }

    // tv_panels page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).tv_panels_link=="true" ) {
      tv_panels_link.addClass("link-clicked");
    }

    // audio_panels page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_link=="true" ) {
      audio_panels_link.addClass("link-clicked");
    }

    // mobile_panels page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).mobile_panels_link=="true" ) {
      mobile_panels_link.addClass("link-clicked");
    }

        // game_5 page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).game_5_link=="true" ) {
      game_5_link.addClass("link-clicked");
    }

    // census_data page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).census_data_link=="true" ) {
      census_data_link.addClass("link-clicked");
    }

    // privacy page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).privacy_link=="true" ) {
      privacy_link.addClass("link-clicked");
    }



    




  // Add link-clicked class immediately on click

    // media_is page
    media_is_link.on("click", function(){
      media_is_link.addClass("link-clicked");
    });

     // video_text_audio page
    video_text_audio_link.on("click", function(){
      video_text_audio_link.addClass("link-clicked");
    });

     // is_this_media page
    is_this_media_link.on("click", function(){
      is_this_media_link.addClass("link-clicked");
    });

     // content_and_ads page
    content_and_ads_link.on("click", function(){
      content_and_ads_link.addClass("link-clicked");
    });

    // ad_models page
    ad_models_link.on("click", function(){
      ad_models_link.addClass("link-clicked");
    });

      // linear_vs_dynamic page
    linear_vs_dynamic_link.on("click", function(){
      linear_vs_dynamic_link.addClass("link-clicked");
    });

    // platforms page
    platforms_link.on("click", function(){
      platforms_link.addClass("link-clicked");
    });

    // game_3 page
    game_3_link.on("click", function(){
      game_3_link.addClass("link-clicked");
    });

     // key_players
    key_players_link.on("click", function(){
      key_players_link.addClass("link-clicked");
    });

    // what_have_we_learned
    what_have_we_learned_link.on("click", function(){
      what_have_we_learned_link.addClass("link-clicked");
    });

// Section 2
    // where_does_nielsen_come_in
    where_does_nielsen_come_in_link.on("click", function(){
      where_does_nielsen_come_in_link.addClass("link-clicked");
    });

    // what_are_ratings
    what_are_ratings_link.on("click", function(){
      what_are_ratings_link.addClass("link-clicked");
    });

    // ratings_reports
    ratings_reports_link.on("click", function(){
      ratings_reports_link.addClass("link-clicked");
    });

    // primary_playback_periods
    primary_playback_periods_link.on("click", function(){
      primary_playback_periods_link.addClass("link-clicked");
    });

    // game_4
    game_4_link.on("click", function(){
      game_4_link.addClass("link-clicked");
    });

        // how_do_we_get_ratings
    how_do_we_get_ratings_link.on("click", function(){
      how_do_we_get_ratings_link.addClass("link-clicked");
    });

    // panels
    panels_link.on("click", function(){
      panels_link.addClass("link-clicked");
    });

    // tv_panels
    tv_panels_link.on("click", function(){
      tv_panels_link.addClass("link-clicked");
    });

    // audio_panels
    audio_panels_link.on("click", function(){
      audio_panels_link.addClass("link-clicked");
    });

    // mobile_panels
    mobile_panels_link.on("click", function(){
      mobile_panels_link.addClass("link-clicked");
    });

        // game_5
    game_5_link.on("click", function(){
      game_5_link.addClass("link-clicked");
    });

    // census_data
    census_data_link.on("click", function(){
      census_data_link.addClass("link-clicked");
    });

    // privacy
    privacy_link.on("click", function(){
      privacy_link.addClass("link-clicked");
    });






    





  
</script>                                         
<!-- navigation bar page titles -->
<ul class="nav" id="module-nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted section-header">
    <span>What is Media?</span>
  </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.media_is_link = 'true';" class="media_is_link link-clicked">
      <a ui-sref="media-overview.media-is">
        <i class=""></i>
        <span>Media is...</span>
      </a>
    </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.video_text_audio_link = 'true';" class="video_text_audio_link">
      <a ui-sref="media-overview.video-text-audio">
        <i class=""></i>
        <span>Video, Text, Audio</span>
      </a>
    </li>
    <li ui-sref-active="active" id="icon-page" ng-click="app.click_history.is_this_media_link = 'true';" class="is_this_media_link">
      <a ui-sref="media-overview.is-this-media">
        <i class="glyphicon glyphicon-star"></i>
        <span>Is this media?</span>
      </a>
    </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.content_and_ads_link = 'true';" class="content_and_ads_link">
      <a ui-sref="media-overview.content-and-ads">
        <i class=""></i>
        <span>Content and Ads</span>
      </a>
    </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.ad_models_link = 'true';" class="ad_models_link">
      <a ui-sref="media-overview.ad-models">
        <i class=""></i>
        <span>Ad Models</span>
      </a>
    </li>
    <li ui-sref-active="active" id="icon-page" ng-click="app.click_history.linear_vs_dynamic_link = 'true';" class="linear_vs_dynamic_link">
      <a ui-sref="media-overview.linear-vs-dynamic">
        <i class="glyphicon glyphicon-star"></i>
        <span>Linear vs Dynamic</span>
      </a>
    </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.platforms_link = 'true';" class="platforms_link">
      <a ui-sref="media-overview.platforms">
        <i class=""></i>
        <span>Platforms</span>
      </a>
    </li>
    <li ui-sref-active="active" id="icon-page" ng-click="app.click_history.game_3_link = 'true';" class="game_3_link">
      <a ui-sref="media-overview.game-3">
        <i class="glyphicon glyphicon-star"></i>
        <span>Game 3</span>
      </a>
    </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.key_players_link = 'true';" class="key_players_link">
      <a ui-sref="media-overview.key-players">
        <i class=""></i>
        <span>Key Players</span>
      </a>
    </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.what_have_we_learned_link = 'true';" class="what_have_we_learned_link">
      <a ui-sref="media-overview.what-have-we-learned">
        <i class=""></i>
        <span>What Have We Learned</span>
      </a>
    </li>
<!--     <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.page1_link = 'true';" class="page1_link">
      <a ui-sref="app.page_template1">
        <i class=""></i>
        <span>Page 1</span>
      </a>
    </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.page2_link = 'true';" class="page2_link">
      <a ui-sref="app.page_template2">
        <i class=""></i>
        <span>Page 2</span>
      </a>
    </li>
    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.page3_link = 'true';" class="page3_link">
      <a ui-sref="app.page_template3">
        <i class=""></i>
        <span>Page 3</span>
      </a>
    </li>
    <li ui-sref-active="active" id="icon-page" ng-click="app.click_history.page4_link = 'true';" class="page4_link">
      <a ui-sref="app.page_template4">
        <i class="glyphicon glyphicon-star"></i>
        <span>Page 4</span>
      </a>
    </li> -->

    <!-- Header Black/Bg White/Aside Bg Black -->
      <label class="i-checks block m-b-sm" ng-click="
        app.settings.navbarHeaderColor='bg-black'; 
        app.settings.navbarCollapseColor='bg-white-only'; 
        app.settings.asideColor='bg-black';
       ">
        <input type="radio" name="a" ng-model="app.settings.themeID" value="1">
        <span class="block bg-light clearfix pos-rlt">
          <span class="active pos-abt w-full h-full bg-black-opacity text-center">
            <i class="glyphicon glyphicon-ok text-white m-t-xs"></i>
          </span>
          <b class="bg-black header"></b>
          <b class="bg-white header"></b>
          <b class="bg-black"></b>
        </span>
      </label>
    <!-- Header Black/Bg White/Aside Bg Black -->


  <li>
    <!-- <a href class="auto">      
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
    </a> -->
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>Dashboard</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v1">
          <span>Dashboard v1</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.dashboard-v2">
          <b class="label bg-info pull-right">N</b>
          <span>Dashboard v2</span>
        </a>
      </li>
    </ul>
  </li>
<!--   <li ui-sref-active="active">
    <a ui-sref="app.calendar">
      <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.CALENDAR">Calendar</span>
    </a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="app.mail.list">
      <b class="badge bg-info pull-right">9</b>
      <i class="glyphicon glyphicon-envelope icon text-info-lter"></i>
      <span class="font-bold" translate="aside.nav.EMAIL">Email</span>
    </a>
  </li> -->
  <li>
<!--     <a href class="auto">
      <span class="pull-right text-muted">
        <i class="fa fa-fw fa-angle-right text"></i>
        <i class="fa fa-fw fa-angle-down text-active"></i>
      </span>
      <i class="glyphicon glyphicon-th-large icon text-success"></i>
      <span class="font-bold">Apps</span>
    </a> -->
    <ul class="nav nav-sub dk">
      <li class="nav-sub-header">
        <a href>
          <span>Apps</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.todo">
          <span>Todo</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.note">
          <span>Note</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="apps.contact">
          <span>Contacts</span>
        </a>
      </li>
      <li ui-sref-active="active">
        <a ui-sref="app.weather">
          <span>Weather</span>
        </a>
      </li>
    </ul>
  </li>

  <li class="line dk"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted section-header">
    <span>How are Media and Ratings Related?</span>
  </li>

  <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.where_does_nielsen_come_in_link = 'true';" class="where_does_nielsen_come_in_link">
      <a ui-sref="media-overview.where-does-nielsen-come-in">
        <i class=""></i>
        <span>Where does Nielsen come in?</span>
      </a>
    </li>

    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.what_are_ratings_link = 'true';" class="what_are_ratings_link">
      <a ui-sref="media-overview.what-are-ratings">
        <i class=""></i>
        <span>What are ratings?</span>
      </a>
    </li>

    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.ratings_reports_link = 'true';" class="ratings_reports_link">
      <a ui-sref="media-overview.ratings-reports">
        <i class=""></i>
        <span>Ratings Reports</span>
      </a>
    </li>

    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.primary_playback_periods_link = 'true';" class="primary_playback_periods_link">
      <a ui-sref="media-overview.primary-playback-periods">
        <i class=""></i>
        <span>Primary Playback Periods</span>
      </a>
    </li>

    <li ui-sref-active="active" id="icon-page" ng-click="app.click_history.game_4_link = 'true';" class="game_4_link">
      <a ui-sref="media-overview.game-4">
        <i class="glyphicon glyphicon-star"></i>
        <span>Game 4</span>
      </a>
    </li>

  <!-- <li class="line dk"></li>

  <li class="hidden-folded padder m-t m-b-sm text-muted section-header">          
    <span>More about ratings</span>
  </li>  
  <li> -->

  <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.how_do_we_get_ratings_link = 'true';" class="how_do_we_get_ratings_link">
      <a ui-sref="media-overview.how-do-we-get-ratings">
        <i class=""></i>
        <span>How do we get ratings?</span>
      </a>
    </li>

    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.panels_link = 'true';" class="panels_link">
      <a ui-sref="media-overview.panels">
        <i class=""></i>
        <span>Panels</span>
      </a>
    </li>


    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.tv_panels_link = 'true';" class="tv_panels_link">
      <a ui-sref="media-overview.tv-panels">
        <i class=""></i>
        <span>TV Panels</span>
      </a>
    </li>

    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.audio_panels_link = 'true';" class="audio_panels_link">
      <a ui-sref="media-overview.audio-panels">
        <i class=""></i>
        <span>Audio Panels</span>
      </a>
    </li>

    <!-- <li class="line dk"></li> -->

<!--   <li class="hidden-folded padder m-t m-b-sm text-muted section-header">
    <span>How ratings are calculated</span>
  </li> -->

    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.mobile_panels_link = 'true';" class="mobile_panels_link">
      <a ui-sref="media-overview.mobile-panels">
        <i class=""></i>
        <span>Mobile Panels</span>
      </a>
    </li>

    <li ui-sref-active="active" id="icon-page" ng-click="app.click_history.game_5_link = 'true';" class="game_5_link">
      <a ui-sref="media-overview.game-5">
        <i class="glyphicon glyphicon-star"></i>
        <span>Game 5</span>
      </a>
    </li>

    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.census_data_link = 'true';" class="census_data_link">
      <a ui-sref="media-overview.census-data">
        <i class=""></i>
        <span>Census Data</span>
      </a>
    </li>

    <li ui-sref-active="active" id="no-icon-page" ng-click="app.click_history.privacy_link = 'true';" class="privacy_link">
      <a ui-sref="media-overview.privacy">
        <i class=""></i>
        <span>Privacy</span>
      </a>
    </li>

  

    
<!--     <a ui-sref="app.page.profile">
      <i class="icon-user icon text-success-lter"></i>
      <b class="badge bg-success pull-right">30%</b>
      <span translate="aside.nav.your_stuff.PROFILE">Profile</span>
    </a> -->
  </li>
 
</ul>
<!-- / list -->
