// Contact Section
.content-blocks.contact.hidex
  section.content
    .block-content
      h3.block-title Contact
      .row
      each contact in data.contacts
        .col-md-12
          .contact-content
            .contact-details
              p=contact.email
          .contact-content
            .contact-details
              p=contact.phoneNumber
          .contact-content
            .contact-details
              p
                a.fa.fa-github(target='_blank', href='http://' + contact.gitHub)  nicolairobles
          .contact-content
            .contact-details
              p
                a.fa.fa-linkedin(target='_blank', href='http://' + contact.linkedIn)  nicolairobles
