// Contact Section
.content-blocks.contact.hidex
  section.content
    .block-content
      h3.block-title Contact
      .row
        .col-md-12
          .contact-content
            .contact-details
              p nicolai.robles@gmail.com
          .contact-content
            .contact-details
              p  201-245-3735
          .contact-content
            .contact-details
              p
                a.fa.fa-github(target='_blank', href='http://www.github.com/nicolairobles')  nicolairobles
          .contact-content
            .contact-details
              p
                a.fa.fa-linkedin(target='_blank', href='http://www.linkedin.com/in/nicolairobles')  nicolairobles
