//-  data viz 
script(type='text/javascript', src="js/data-viz/d3.min.js")
script(type='text/javascript', src="js/data-viz/jquery.js")
script(type='text/javascript', src="js/data-viz/bootstrap.min.js")
script(type='text/javascript', src="js/data-viz/main.js")
script(type='text/javascript', src="js/data-viz/home.js")
//-  main js
script(type='text/javascript', src='js/meta.js')
//- google analytics
//- Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-112947689-1')
script.
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());
 gtag('config', 'UA-112947689-1'); 

//- Event Tracking
script.
  $("#resume-download-link").click(function(){
    console.log("resume button clicked")
    ga('send', 'event', 'button_click', 'download', 'resume');
  });