script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
script.
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-3243054178285682",
  enable_page_level_ads: true
  });
.inline-menu-container.hidex
  ul.inline-menu
    li.portfolio.menu-item(style='text-transform: uppercase') Portfolio
    li.resume.menu-item(style='text-transform: uppercase')
      // <a class="resume-nav" href="/resume" target="_blank">Resume</a>
      | Resume
    li.contact.menu-item(style='text-transform: uppercase') Contact
    li#close ×
section.bg-image#intro.intro-section(style="background:#000000;")
  #cover
    section.home#title
      #wrapper
        section#lander.container
          .landerWrapper
            h2.title.small-text-shadow Full Stack Engineer + Designer
            h1
              span.nicolai(style="") Nicolai
              span.robles(style="") Robles
            h2.portfolio.menu-item.small-text-shadow(style='text-transform: lowercase;')
              a.portfolio(style="pointer-events:visible;") Portfolio
            h2.resume.menu-item.small-text-shadow(style='text-transform: lowercase;')
              a.resume(style="pointer-events:visible;") Resume
            h2.contact.menu-item.small-text-shadow(style='text-transform: lowercase;')
              a.contact(style="pointer-events:visible;") Contact
            //- <h2 class="contact menu-item" style="text-transform: lowercase;"><a>Contact</a></h2>
            style(type='text/css').
              a{
              -webkit-transition: all 0.7s ease;
              -moz-transition: all 0.7s ease;
              -o-transition: all 0.7s ease;
              transition: all 0.7s ease;
              padding-bottom: 7px;
              }
              a:hover{
              border-bottom: 1px solid white;
              }
  .nextSection

