// Resume
.content-blocks.resume.hidex
  section.content
    .block-content
      h3.block-title Resume
      .row
        .col-md-12
          #projects.embed-responsive(style='padding-bottom:130%')
            embed(src='documents/Nicolai_Robles_Resume.pdf', width='80%', height='715px', type='application/pdf')
