//- resume in html   
.container-fluid
  //- .row
      //- .col-md-12
      //-   .jumbotron(style="background-color:black; color:white;")
  .row(style="text-align:center")
    h2(style="letter-spacing: 0.2em; margin: 5px;") Nicolai Robles
    a.btn.btn-primary.btn-large(href="documents/Nicolai_Robles_Resume.pdf" download="nicolai-robles-resume.pdf" style="margin: 25px; background-color: black; color: white; border: 2px white solid;") Download Resume (PDF)
      &nbsp;
      span(class="fa fa-download")
  //- .row
  //-   .col-md-4
  //-     h3(style="") Contact
  //-     li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") nicolai.robles@gmail.com
  //-     li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") 646-241-3124
  //-     li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") updated: 7/15/17
  //-   .col-md-8
  //-     li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") github: /nicolairobles
  //-     li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") linkedin: nicolairobles
  .row
    //- LEFT HAND COLUMN
    .col-md-4
      h3 Skills
      h4 Backend
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Node.js / Express.js
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Amazon Web Services (AWS)
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") MongoDB
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Postgres / SQL
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Git / Github / BitBucket
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Google Apps Scripts
      br 
      h4 Frond-End
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") React
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Javascript / Jquery
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Webpack, Grunt, Gulp
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Bootstrap / Materialize
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Angular.js
      br
      h3 Education
      h4 General Assembly
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Web Development Immersive | 11/15-3/16
      br
      h4 University of Pennsylvania
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") B.A. Economics | Class of 2011
      br
    //- RIGHT HAND COLUMN
    .col-md-8
      //- CURRENT EXPERIENCE
      h3 Full Stack Experience
      h5 Nielsen
      h4 Full Stack Developer | 7/2016 - Present
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Develop ground-up web applications for Nielsen digital marketing
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Deploy in Amazon Web Services, Digital Ocean
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Develop in Node.js with Grunt workflow tasks, MongoDB, and Angular
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Nielsen Ratings Academy App – a Nielsen educational platform on media, ratings, and Nielsen measurement strategies built with Node.js, Angular UI Bootstrap, Express, & Postgres
      br
      //- PAST EXPERIENCE
      h3 Past Experience
      //- GA
      h5 General Assembly - 
      h4 Web Dev Immersive | 11/2015 – 3/2016
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Completed three month coding Bootcamp aimed at developing full-stack development skills with a focus on Node.js
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Learned Object-Oriented Programming principles in Ruby
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Designed and developed database systems using Postgresql and MongoDB
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Beat The Machine - AI-Powered Tic Tac Toe game using Javascript
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Watch&Learn – Rated Video Curriculums site
      li(style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;") Goltracker – goal tracking app
      //- OTHER
      br
      h5 Amazon
      h4 Manager, Business Analytics | 10/2015 – 11/2015
      h5 Macy's
      h4 Analyst, Associate Manager, Manager Roles in Consumer Insights | 6/2011 - 10/2015