// Resume
.content-blocks.resume.hidex          
  section.content
    .block-content
      h3.block-title
        a(href="documents/Nicolai_Robles_Resume.pdf" download="nicolai-robles-resume.pdf" id="resume-download-link") Resume
          &nbsp;
          i(class="fa fa-arrow-circle-down")
      .row
        .col-md-12
          #projects.embed-responsive(style='padding-bottom:130%')
            embed(src='documents/Nicolai_Robles_Resume.pdf', width='80%', height='715px', type='application/pdf')
    //- include resume-jade
    //- //- resume in html   
    //- .container-fluid
    //-   .row
    //-     .col-md-12
    //-       .jumbotron
    //-         .row
    //-           .col-md-8
    //-             h3
    //-               | Nicolai Robles
    //-           .col-md-4
    //-             h2
    //-               | Social Media
    //-             p
    //-               | Update Date
    //-             p
    //-               a.btn(href='#') Download pdf »
    //-         p
    //-           a.btn.btn-primary.btn-large(href='#') Learn more

    //-       .row
    //-         .col-md-4
    //-           h2
    //-             | Skills
    //-           p
    //-             | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-           p
    //-             a.btn(href='#') View details »
    //-         .col-md-8
    //-           h2
    //-             | Full-Stack Engineering Experience
    //-           p
    //-             | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    //-           p
    //-             a.btn(href='#') View details »
