<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nicolai Robles - Full Stack Engineer + Designer </title>
  <meta name="description" content="Nicolai Robles - Full Stack Engineer + Designer">
  <meta name="author" content="">
  <link rel="icon" href="/images/favicon.ico">
  <link href="css/data-viz/bootstrap.min.css" rel="stylesheet">
  <link href="css/data-viz/scrolling-nav.css" rel="stylesheet">
  <link href="css/data-viz/jasny-bootstrap.min.css" rel="stylesheet">
  <link href="css/data-viz/main.css" rel="stylesheet">
  <link href="css/data-viz/home.css" rel="stylesheet">
  <link rel="stylesheet" href="css/meta.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/meta-addons.css" type="text/css" media="screen">
</head>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div style="background-color:black; color:white;" class="jumbotron">
        <div class="row">
          <div style="text-align:center" class="col-md-12">
            <h3 style="letter-spacing: 0.2em; text-align:center">Nicolai Robles</h3>
            <h4><a href="#" style="background-color: white; color: black; border: 2px black dotted;" class="btn btn-primary btn-large">Download Resume (PDF)</a></h4>
            <h4 style="">nicolai.robles@gmail.com</h4>
            <h4 style="">646-241-3124</h4>
            <h4>github: /nicolairobles</h4>
            <h4>linkedin: nicolairobles</h4>
            <h4>nicolairobles.com</h4>
            <h4>updated: 7/15/17</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3>Skills</h3>
          <h4>Backend</h4>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Node.js / Express.js</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Amazon Web Services (AWS)</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">MongoDB</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Postgres / SQL</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Git / Github / BitBucket</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Google Apps Scripts</li><br>
          <h4>Frond-End</h4>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">React</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Javascript / Jquery</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Webpack, Grunt, Gulp</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Bootstrap / Materialize</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Angular.js</li><br>
          <h3>Education</h3>
          <h4>General Assembly</h4>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Web Development Immersive | 11/15-3/16</li><br>
          <h4>University of Pennsylvania</h4>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">B.A. Economics | Class of 2011</li><br>
        </div>
        <div class="col-md-8">
          <h3>Full Stack Experience</h3>
          <h5>Nielsen</h5>
          <h4>Full Stack Developer | 7/2016 - Present</h4>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Develop ground-up web applications for Nielsen digital marketing</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Deploy in Amazon Web Services, Digital Ocean</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Develop in Node.js with Grunt workflow tasks, MongoDB, and Angular</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Nielsen Ratings Academy App – a Nielsen educational platform on media, ratings, and Nielsen measurement strategies built with Node.js, Angular UI Bootstrap, Express, & Postgres</li><br>
          <h3>Past Experience</h3>
          <h5>General Assembly - </h5>
          <h4>Web Dev Immersive | 11/2015 – 3/2016</h4>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Completed three month coding Bootcamp aimed at developing full-stack development skills with a focus on Node.js</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Learned Object-Oriented Programming principles in Ruby</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Designed and developed database systems using Postgresql and MongoDB</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Beat The Machine - AI-Powered Tic Tac Toe game using Javascript</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Watch&Learn – Rated Video Curriculums site</li>
          <li style="font-family: Times, serif; letter-spacing: 0.1em; font-size: 15px;   line-height: 1.4; text-align: left;">Goltracker – goal tracking app</li><br>
          <h5>Amazon</h5>
          <h4>Manager, Business Analytics | 10/2015 – 11/2015</h4>
          <h5>Macy's</h5>
          <h4>Analyst, Associate Manager, Manager Roles in Consumer Insights | 6/2011 - 10/2015</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="js/data-viz/d3.min.js"></script>
<script type="text/javascript" src="js/data-viz/jquery.js"></script>
<script type="text/javascript" src="js/data-viz/bootstrap.min.js"></script>
<script type="text/javascript" src="js/data-viz/main.js"></script>
<script type="text/javascript" src="js/data-viz/home.js"></script>
<script type="text/javascript" src="js/meta.js"></script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-112947689-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-112947689-1');
</script>