<!-- Header -->
<div class="modal-header">
    <h3 class="module-title text-uppercase">Media Overview</h3>
</div>

<!-- Modal Title -->
<div class="modal-header">
    <h3 class="modal-title text-uppercase">Ratings TLDR!</h3>
</div>

<!-- Body -->
<div class="modal-body">
    Insert Content</b>
</div>

<!-- Footer -->
<div class="modal-footer">   
    <li class="modal-icon-li"><a ng-click="dismiss()"><i class="fa fa-caret-up close-modal"></i></a></li>    
    <button class="btn btn-primary" ng-click="dismiss()">CLOSE</button>
</div>