<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var platforms_link = $(".platforms_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).platforms_link=="true" ) {
      platforms_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      platforms_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var platforms_and_key_players_link = $(".platforms_and_key_players_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).platforms_and_key_players_link=="true" ) {
      platforms_and_key_players_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      platforms_and_key_players_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>



<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Who are the key players in the media industry?</h3> -->

      <!-- custom url modal -->
      <br><br>
      
      <!-- <a ui-sref="media-overview.key-players.tldr" class="btn btn-success" ng-click="app.click_history.key_players_modal_link = 'true';" class="key_players_link">TLDR</a> -->

      
      <h3 class="page-title red">Who are key players in the media industry?</h3>

      <p>Let's go over one last thing before we end this section. There are two main parties that use ratings data within the media industry: media buyers and media sellers.</p>

      <!-- Container for content -->
        <div class="row">
          <div class="inline-block-wrapper">

            <div class="inline-block-container col-sm-6">
              <h5 class="content-sub-title red">Media Buyers</h5>
              <p>Media buyers are parties that buy advertising space to market products and/or services. There are two primary types of media buyers: advertisers and agencies.
              </p>
              <ul class="ordered-list-text">
                <li class="content-text">ADVERTISER: Companies that want to market their products and services for purchase.</li>
                <li class="content-text">AGENCY: Companies that advise advertisers on how and where to market their products and services.</li>
              </ul>
            </div>
            <div class="inline-block-container col-sm-6">
              <h5 class="content-sub-title red">Media Sellers</h5>
              <p>Media sellers that sell advertising space within various content.</p>

              <p>There are five key media sellers in the media industry: TV networks, digital publishers, radio broadcasters, ad networks/platforms and multichannel video programming distributors.</p>
              <ul class="ordered-list-text">
                <li class="content-text">TV NETWORK: An organization that distributes programming to TV stations/cable networks and content providers.</li>
                <li class="content-text">DIGITAL PUBLISHER: Media owners of sites and/or apps that publish content for consumption.</li>
                <li class="content-text">RADIO BROADCASTER: An organization that distributes radio programming to stations and content providers.</li>
                <li class="content-text">AD NETWORK/PLATFORM: Aggregates online ad spots across multiple digital sites. Ad networks and platforms help publishers find the best ad spots given their advertiser’s demand. They also offer advertisers online ad spots sold in bulk to reach their target audience online.</li>
                <li class="content-text">MULTICHANNEL VIDEO PROGRAMMING DISTRIBUTOR (MVPD): An organization that delivers video programming services, usually for a subscription fee (pay television). These providers include direct broadcast satellite (DBS) providers, cable television (CATV) systems and other wireline video providers (including Verizon FiOS, AT&T, U-verse) and competitive local exchange carriers (CLECs) using internet protocol television (IPTV). If you have cable, these are the people providing that to you.</li>
              </ul>

            </div>

          </div>
        </div>

    </div>
  </div>
</div>

<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.platforms" class="leftArrow" ng-click="app.click_history.platforms = 'true';" class="platforms" id="platforms_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.platforms-and-key-players" class="rightArrow" ng-click="app.click_history.platforms_and_key_players_link = 'true';" class="platforms_and_key_players_link" id="platforms_and_key_players_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>