/* Homepage Styling */

html.bg{
	background-color: #161514 !important;
  background: none;
  background-attachment: fixed;
  background-size: cover;
}

.app.container{
  padding-top: 0;
  background-color: #161514 !important;
  width: 100%;
}

.homepage-welcome{

}

/* make ratings academy info area closer to top */
.modal-center {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 400px;
  margin: -300px 0 0 -200px;
}

/*.modal-over{
  position: absolute;
}*/

.ratings-text{
  text-transform: uppercase; 
  font-family: 'brandon-black'; 
  letter-spacing: 8px; 
  font-size: 65px;
}

.academy-text{
  text-transform: uppercase; 
  font-family: 'brandon-black'; 
  letter-spacing: 8px; 
  line-height: 0px; 
  margin: 4%; 
  font-size: 65px;
}

.subtitle-box{
  font-size: 21px; 
  margin: 5% 0 0 0;
}

.by-text{
  color: #707276; 
  font-style: italic; 
  margin-right: 7px;
  font-family: 'brandon-regular'; 

}

.nielsen-text{
  color: #009dd9; 
  text-transform: uppercase; 
  font-family: 'brandon-thin'; 
  letter-spacing: 3px;
}

.homepage-icon-box{
  /*margin: 25%;*/
  display: inline-block;
}

.homepage-button-container{
  padding: 0 0 50px 0;
}

.homepage-description-text{
  padding: 0 350px;
  font-size: 21px; 
  font-weight: normal; 
  line-height:37px; 
  margin-bottom: 5%;
  font-family: 'brandon-medium'
}

.module-selection-box{
  background-color: #ffffff;
  height: 25%;
  width: 100%;
  bottom: 0;
  /*position: absolute;*/
}

.choose-lesson-block{
  height: 20%;
  background-color: #009dd9;
  padding: 13px;
  font-family: brandon-black;
  letter-spacing: 1px;
  color: #ffffff;
}

.choose-lesson-arrow{
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 8px solid #009dd9;
  width: 0%;
  margin: 0 50%;
}

.module-container{
  display: inline-block; 
  border: 3px solid; 
  font-family: 'brandon-black';
  height: 160px;
  width: 300px;
  vertical-align: top;
  background-color: white;  
}

.module-container h1{
  font-size: 20px;
}

.modules-container{
  padding: 2%;
  background-image: url('/img/landing-page-background-graphic.svg');
  background-size: cover;
}

.module-container-text{
  color: #707276;
  font-family: 'brandon-medium';
  padding: 0 5% 3%;
  text-align: left;
  font-size: 15px;
}

.module-container-title{
  font-family: brandon-black;
  text-align: left;
  padding-left: 5%;
}

.module-1-container{
  color: #d60037; 
  border-color: #d60037;
}

.module-2-container{
  color: #b21dac; 
  border-color: #b21dac;
}

.module-3-container{
  color: #8dc63f; 
  border-color: #8dc63f;
}

.homepage-style {
  color: #ffffff;
  background-color: #161514;
}

.homepage-style.bg,
.homepage-style .bg {
  background-color: #161514;
}

.homepage-style a.list-group-item:hover,
.homepage-style a.list-group-item:focus {
  background-color: inherit;
}

/* Homepage buttons styling */
.btn-homepage { 
  font-family: 'brandon-black'; 
  font-size: 15px; 
  text-transform: uppercase; 
  padding: 1px 9px; 
  border: #ffffff 1px solid; 
  color: #ffffff;
  margin: 3px;
} 
 
.btn-homepage:hover, 
.btn-homepage:focus, 
.btn-homepage:active, 
.btn-homepage.active, 
.open .dropdown-toggle.btn-homepage { 
  color: #161514; 
  background-color: #fff; 
  border-color: #161514; 
  text-decoration: none;
} 
 
.btn-homepage:active, 
.btn-homepage.active, 
.open .dropdown-toggle.btn-homepage { 
  background-image: none; 
} 
 
.btn-homepage.disabled, 
.btn-homepage[disabled], 
fieldset[disabled] .btn-homepage, 
.btn-homepage.disabled:hover, 
.btn-homepage[disabled]:hover, 
fieldset[disabled] .btn-homepage:hover, 
.btn-homepage.disabled:focus, 
.btn-homepage[disabled]:focus, 
fieldset[disabled] .btn-homepage:focus, 
.btn-homepage.disabled:active, 
.btn-homepage[disabled]:active, 
fieldset[disabled] .btn-homepage:active, 
.btn-homepage.disabled.active, 
.btn-homepage[disabled].active, 
fieldset[disabled] .btn-homepage.active { 
  background-color: #707276; 
  border-color: #FFFFFF; 
} 
 
.btn-homepage .badge { 
  color: #161514; 
  background-color: #FFFFFF; 
}

.login-btn-container{
  text-align: right;
  padding: 2% 0 0 0;
}





/* Tablet Widths, btw 768-1024 */
@media (min-width: 1025px) {
  .homepage-description-text{
    padding: 0 23%;
  }
}

/* Tablet Widths, btw 768-1024 */
@media (min-width: 768px) and (max-width: 1024px) {
  .homepage-description-text{
    padding: 0 25%;
  }
}

/* Mobile Widths, less than 767 */
@media (max-width: 767px) {
  .ratings-text, .academy-text{
    font-size: 40px;
  }
  .homepage-description-text{
    padding: 0 15%;
  }
}
