/* Basic Defaults */

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-y:scroll;
  font-size: 14px;
}



/*a {color: #009dd9;}*/

/*a:hover, a:focus {color: #009dd9; text-decoration: underline;}*/

img {max-width: 100%;}

/* colors */

.white-bkg {background-color:#ffffff;}

.white {color:#ffffff;}

.black-bkg {background-color:#000000;}

.dkgray-bkg {background-color:#313742;}

.black {color:#000000;}

.blue-bkg {background-color:#009dd9;}

.blue {color:#009dd9;}

.purple-bkg {background-color: rgb(178,29,172);}

.purple {color: rgb(178,29,172);}

.dkgray {color:#313742;}

.ltgray {color:#7d7d7d;}

.red { color: #d60037;}

.red-bkg { background-color: #d60037; }

/* page content area paragraph styling */
p, .content-text {
    margin: 0 0 40px;
    line-height: 40px;
    font-size: 16px;
}

/* styling for page titles */
.page-title {
    margin-top: 0px;
    margin-bottom: 17px;
    text-transform: uppercase;
    font-family: 'brandon-regular';
}

/* adjust module title so that it's visible even if it's long */
.navbar-collapse {
  z-index: -1;
}

.content-sub-title {
  font-family: 'brandon-medium';
  font-size: 19px;
  text-transform: uppercase;
  color: #d60037;
}

/* No Spaces Class bc ng-class doesn't allow dashes */
.sub-sub-header{
    color: #d60037 !important;
    font-family: 'brandon-regular';
    font-weight: bold;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-size: 16px;
}

.inline-block-icon {
  padding: 10% 0 ;
}

.inline-block-wrapper {
  /*display: table;*/
  /*table-layout: fixed;*/
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.table-wrapper{
  display: table;
  table-layout: fixed;
}

.table-cell{
  display: table-cell;
}

.x-small-size{
  height: 80px;
}

.small-size{
  height: 140px;
}

.medium-size{
  height: 160px;
}

.intimate-headline {
  margin-bottom: 0;
}

/* x-small = 80px */
/* small = 140px */
/* medium = 1600px */
/* large = */
/* x-large = */
/* xx-large = */

.inline-block-container {
  padding-right: 5%;
  /*display: table-cell;*/
}

.padding-right-five {
  padding-right: 5%;
  /*display: table-cell;*/
}
.padding-right-seven {
  padding-right: 7%;
  /*display: table-cell;*/
}

ol.ordered-list-text{
  padding: 0 5%; 
}

.nav > li > a.home-menu-icon {
    padding-right: 0; 
}

/* Home Icon */
.home-icon {
    width: 40%;
    margin: 25% 0 20% 20%;
}


/* tabs styling */
.nav.nav-tabs.nav-justified > li > a, .nav.nav-tabs.nav-justified > li > a{
    background-color: transparent;
    font-family: 'brandon-medium';
    font-size: 19px;
    text-transform: uppercase;
    color: #d60037;
    border: none;
    /*in an attempt to avoid fixed widths and instead use the site's own responsivity, i've changed this from 301px to 100% wide - gb note*/
    /*width: none;*/
}
.nav.nav-tabs.nav-justified > li, .nav.nav-tabs.nav-justified > li {
    background-color: transparent;
    font-family: 'brandon-medium';
    font-size: 19px;
    text-transform: uppercase;
    color: #d60037;
    border-bottom: 3px solid #d60037;
    /*in an attempt to avoid fixed widths and instead use the site's own responsivity, i've changed this from 301px to 100% wide - gb note*/
    /*width: none;*/
}

.nav.nav-tabs.nav-justified > li.active, .nav.nav-tabs.nav-justified > li.active {
    border-top: 3px solid #d60037;
    border-left: 3px solid #d60037;
    border-right: 3px solid #d60037;
    border-bottom: 0px solid transparent;
    color: #d60037;
    /*color: #fff;*/
    /*font-size: 13px;*/
    /*in an attempt to avoid fixed widths and instead use the site's own responsivity, i've changed this from 301px to 100% wide - gb note*/
    /*width: none;*/
}

.nav.nav-tabs.nav-justified > li > a:hover, .nav.nav-tabs.nav-justified > li > a:focus {
    background-color: transparent;
    font-family: 'brandon-medium';
    font-size: 19px;
    text-transform: uppercase;
    color: #d60037;
    border: none;
    /*in an attempt to avoid fixed widths and instead use the site's own responsivity, i've changed this from 301px to 100% wide - gb note*/
    /*width: none;*/
}

.tab-heading-img{
  max-width: 85%;
  margin-top: 3%; 
}
.tab-heading-text{
  margin: 10px 0 5px;
  font-family: "brandon-black";
  line-height: 21px;
}

/*.tab-heading-style {
    width: 76%;
    margin: 0 auto;
}*/

.tab-content{
  text-align: center;
  margin: 0 auto;
  border: 3px solid #d60037;
  border-top: .1px solid transparent;
  margin-top: -2px;
}

.tab-content-text{
  margin: 10% 18%;
  text-align: left;
}

.panel{
  box-shadow: 0 1px 1px transparent;
  -webkit-box-shadow: 0 1px 1px transparent;
  -moz-box-shadow: 0 1px 1px transparent;
}

@media (min-width: 0px){
  .nav-justified > li {
    display: table-cell !important;
    width: 1% !important;
  }
  .tab-heading-text{
    font-size: 9px;
  }
}

@media (min-width: 768px){
  .tab-heading-text{
    font-size: 12px;
  }
}





/* carousel styling */
.carousel-control.left, .carousel-control.right{
  background-image: none;
  opacity: 1;
}
.carousel-control{
  top: 50%;
  bottom: 50%;
}

/*a.carousel-control.left:active, a.carousel-control.left:hover, a.carousel-control.left:focus{
  right: 3px;
}
a.carousel-control.right:active, a.carousel-control.right:hover, a.carousel-control.right:focus {
  right: -3px;
}*/

.carousel-inner{
  width: 65%;
  margin: 0 auto;
}

.next-btn, .previous-btn{
  color: #d60037;
  font-size: 20px;
  /*border: 3px solid #d60037;*/
  /*padding: 10px 13px;*/
  transition: .25s;
  text-shadow: none;
}

a.next-btn:active, a.next-btn:hover, a.next-btn:focus{
  /*right: .5px;*/
  /*width: 85%;*/
  color: #d60037;
  /*font-size: 18px;*/
}
a.previous-btn:active, a.previous-btn:hover, a.previous-btn:focus {
  color: #d60037;
  /*right: -1px;*/
}



.carousel-indicators{
  position: static;
  left: 0;
  padding: 44px 0 10px 0;
  margin: 0 auto;
}

.carousel-indicators .active{
  background-color: #d60037;
  margin: 0 2% 0 2%;
  width: 9px;
  height: 9px;
}

.carousel-indicators li{
  border-radius: 0;
  background-color: pink;
  margin: 0 2% 0 2%;
  border: none;
  width: 8px;
  height: 8px;
}

.slide-content{
  margin: 10% 0;
  text-align: left;
}

.slide-image{
  margin: 2% 0 10%;
}

.slide-title{
  margin: 3% 0;
}

.slider-header{
    /*padding: 5% 20% 15% 20%;*/
    border: 3px solid #d60037;
    color: #ffffff;
    background-color: #d60037;
    text-align: center;
    position: relative;
}
.slider-body {
    /*padding: 5% 20% 15% 20%;*/
    border: 3px solid #d60037;
    /*color: #d60037;*/
    /*text-align: center;*/
    position: relative;
    height: 725px;
    overflow-y: hidden;
}
.slider-body:hover {
    /*padding: 5% 20% 15% 20%;*/
    border: 3px solid #d60037;
    /*color: #d60037;*/
    /*text-align: center;*/
    position: relative;
    height: 725px;
    overflow-y: scroll;
}
.slider-header-text {
  width: 65%;
  margin: 0 auto;
  text-align: left;
}


/*div.navi-wrap{
  overflow-y: hidden;
}*/

/* Potential Scrollbar Fix */
.app-aside-fixed:hover .aside-wrap:hover .navi-wrap:hover::-webkit-scrollbar{
    /*-webkit-appearance: none;*/
    width: 7px;
}

.app-aside-fixed:hover .aside-wrap:hover .navi-wrap:hover::-moz-scrollbar{
    /*-webkit-appearance: none;*/
    width: 7px;
}




/*::-webkit-scrollbar:hover {
}*/
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(75, 75, 75,.5);
    -webkit-box-shadow: 0 0 1px rgba(75, 75, 75,.5);
}

::-moz-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(75, 75, 75,.5);
    -moz-box-shadow: 0 0 1px rgba(75, 75, 75,.5);
}









/* Formatting for left-hand nav titles without an icon (ie, star) */
.navi ul.nav li#no-icon-page {
	margin: 0 35px;
}
/* Color formatting for links that have been clicked: default is .ltgray */
.link-clicked{
	color: #000000;
}
/* Color formatting for links that haven't been clicked */
.link-unclicked{
	color:#7d7d7d;
}

/* Background styling; removed image */
html.bg {
  background: none;
  background-attachment: fixed;
  background-size: cover;
}

/* Resets content area color*/
.app:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: inherit;
  background-color: #ffffff;
  border: inherit;
  content: "";
}


/* Module Color Scheme */
/* bg-black controls areas that have a dark background */
.bg-black {
	/*custom*/
  color: #ffffff;
  background-color: #d60037;
}

.bg-black.lt,
.bg-black .lt {
  background-color: #d60037;
}

.bg-black.lter,
.bg-black .lter {
  background-color: #d60037;
}

.bg-black.dk,
.bg-black .dk {
  background-color: #d60037;
}

.bg-black.dker,
.bg-black .dker {
  background-color: #d60037;
}

.bg-black.bg,
.bg-black .bg {
  background-color: #d60037;
}

.bg-black a {
  color: #d60037;
}

.bg-black a:hover {
  color: #ffffff;
}

.bg-black a.list-group-item:hover,
.bg-black a.list-group-item:focus {
  background-color: inherit;
}

.bg-black .nav > li:hover > a,
.bg-black .nav > li:focus > a,
.bg-black .nav > li.active > a {
  color: #ffffff;
  background-color: #d60037;
}

.bg-black .nav > li > a {
  color: #ffffff; 
  /*custom*/
}

.bg-black .nav > li > a:hover,
.bg-black .nav > li > a:focus {
  background-color: #d60037;
}

.bg-black .nav .open > a {
  background-color: #d60037;
}

.bg-black .caret {
  border-top-color: #d60037;
  border-bottom-color: #d60037;
}

.bg-black.navbar .nav > li.active > a {
  color: #ffffff;
  background-color: #d60037;
}

.bg-black .open > a,
.bg-black .open > a:hover,
.bg-black .open > a:focus {
  color: #ffffff;
}

.bg-black .text-muted {
  color: #5c798f !important;
}

.bg-black .text-lt {
  color: #ffffff !important;
}

.bg-black.auto .list-group-item,
.bg-black .auto .list-group-item {
  background-color: transparent;
  border-color: #d60037 !important;
}

.bg-black.auto .list-group-item:hover,
.bg-black .auto .list-group-item:hover,
.bg-black.auto .list-group-item:focus,
.bg-black .auto .list-group-item:focus,
.bg-black.auto .list-group-item:active,
.bg-black .auto .list-group-item:active,
.bg-black.auto .list-group-item.active,
.bg-black .auto .list-group-item.active {
  background-color: #d60037 !important;
}

/* Module Color Scheme */
/* bg-white controls the font-color of the unseen pages in navbar */
.bg-white{
  color: #cccccc;
}
/* section headlines */
.bg-white .text-muted {
  color: #d60037 !important;
  font-family: 'brandon-regular';
  font-weight: bold;
  letter-spacing: 0.1px;
}


/* Module Color Scheme */
/* bg-light controls the main content areas */
.bg-light {
  color: #666666;
  background-color: #ffffff;
}

.bg-light.lt,
.bg-light .lt {
  background-color: #ffffff;
}

.bg-light.lter,
.bg-light .lter {
  background-color: #ffffff;
}

.bg-light.dk,
.bg-light .dk {
  background-color: #ffffff;
}

.bg-light.dker,
.bg-light .dker {
  background-color: #ffffff;
}

.bg-light.bg,
.bg-light .bg {
  background-color: #ffffff;
}



/* TLDR Button Color Scheme */
/* Changed color to module's accent color */
.btn-success {
  color: #d60037 ;
  background-color: #ffffff;
  border: 1px solid #d60037;
  margin: 30px 0 30px 0;
  border-radius: 0px;
  font-family: 'brandon-regular';
}

.btn {
	padding: 1px 5px 0px;
}

/* Inverse colors on hover/focus/active */
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  /*color: #d60037 !important;*/
  /*background-color: #ffffff;*/
  border-color: #d60037;
  background: #d60037;
  color: #fff;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #ffffff;
  border-color: #d60037;
}

/* Formatting for text in content area */

.padder-md {
  padding-right: 30px;
  padding-left: 60px;
}

/*===== Sam's CSS ======*/

/* This is for the pagination arrows */
.arrowWrap {
    /*position: inherit; this is unnecessary -gb*/
    text-align: center;
    /*right: 0;
    bottom: 75px;
    left: 0; - this is all unnecessary - gb*/
    padding: 40px 0px;
}

.arrows {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0px;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
        
}

.arrows li {
    float: left;
    padding: 2px 10px;
}

.arrows a, .arrows a:active, .arrows a:visited, .arrows a:focus {
    color: #d60037;
    font-size: 20px;
    border: 3px solid #d60037;
    /*padding: 10px 13px;*/
    transition: .25s;
}

/*rightarrow?!?!?*/
.rightArrow {
    padding: 11px 13px 11px 17px;
}
.leftArrow {
    padding: 11px 17px 11px 13px;
}

.arrows a:hover {
  background: #d60037;
  color: #fff;
}

/* Prevents menu from stacking*/
.m-l-xs {
    margin-left: 0;
    white-space: nowrap;
}

.navbar-brand {
  font-size: 24.5px;
  font-family: 'brandon-black';
  text-transform: uppercase;
  letter-spacing: 2px;
}


.navi ul.nav li a {
    font-size: 16px;
    transition: background-color 0.0s ease-in-out 0s;
    webkit-transition: background-color 0.2s ease-in-out 0s;
  }

/*fixing nav font family*/
.nav {
  font-family: 'brandon-regular';
}

/*fixing section-header */

.section-header {
  font-family: 'brandon-medium';
  text-transform: uppercase;
  color: #d60037;
  padding: 10px 0px 0px 35px;
}

/*BEGIN gb edits on nav*/

/* Makes the links stay active when you click off of them */
.nav > li.active, .nav > li.active {
    background-color: #d60037;
    color: #fff;
    font-size: 13px;
    /*in an attempt to avoid fixed widths and instead use the site's own responsivity, i've changed this from 301px to 100% wide - gb note*/
    /*width: 100%;*/
}


/* Makes the links change color on hover/focus*/
.nav > li > a:hover, .nav > li > a:focus {
    background-color: #d60037;
    color: #fff;
    font-size: 13px;
    /*building off note above, in an attempt to avoid fixed widths and instead use the site's own responsivity, i've changed this from 301px to 100% wide - gb note*/
    width: 100%;
}

/* Active state of star */
.nav > li.active > a > i.glyphicon-star, .nav > li.active > a > i.glyphicon-star{
  color: #fff;
}

.nav > li.active > a:hover > i.glyphicon-star, .nav > li.active > a:focus > i.glyphicon-star{
  color: #fff;
}

/* Link-clicked and hover state of stars*/
.nav > li.link-clicked > a > i.glyphicon-star, .nav > li.link-clicked > a > i.glyphicon-star{
  color: #d60037;
}

.nav > li.link-clicked > a:hover > i.glyphicon-star, .nav > li.link-clicked > a:focus > i.glyphicon-star{
  color: #fff;
}

/* link-clicked and active tab for stars */
.nav > li.link-clicked.active > a > i.glyphicon-star, .nav > li.link-clicked.active > a > i.glyphicon-star{
  color: #fff;
}

.nav > li.link-clicked.active > a:hover > i.glyphicon-star, .nav > li.link-clicked.active > a:focus > i.glyphicon-star{
  color: #fff;
}


/* adjust margin/padding around star icons in left-hand nav */
.navi ul.nav li#no-icon-page {
    margin: 0px;
}

.navi ul.nav li#no-icon-page a {
  /*adjusted padding to make it more inline with the mock - gb*/
    padding: 7px 35px;
}

.navi ul.nav li a {
  /*adjusted padding to make it more inline with the mock - gb*/
    padding: 7px 20px;
}

/*adjusting stars and positioning - gb*/

.navi ul.nav li a > i {
  width: 20px;
  margin: -9px 5px -10px -10px;
}

/*END gb edits on nav*/

.padder-md {
    min-height: 400px;
}

.b-r {
    border-right: 1px solid #dee5e7;
}

/* Modal Background Styling */

  .modal-backdrop {
    background-color: #ffffff;
  }

  .modal-backdrop.in {
    opacity: 1;
  }

  .modal-content {
    height: 90vh;
    border-radius: 0px; 
    border: none;
    background-color: #d60037;
    color: #FFFFFF;
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
  }
  .module-title{
    font-family: 'brandon-black';
    margin: 0;
    font-size: 17px;
    line-height: 1.42857143;
  }
  .modal-title{
    font-family: 'brandon-black';
    margin: 0;
    font-size: 35px;
    line-height: 1.42857143;
    text-align: center;
  }
  .modal-body{
    font-family: 'brandon-medium';
    text-align: center;
  }

  .modal-header {
    border: none;
  }
  .fa-caret-up, .close-modal {
    font-size: 25px;
    display: inherit;
    margin-bottom: -3px;
  }
  .modal-footer {
    border: none;
    position: fixed;
    bottom: 0;
    width: 100%; text-align: center;
    font-family: 'brandon-black';
  }
  .modal-icon-li{
    list-style: none;
  }

/* Modal Positioning */
.modal {
  top: -30px;
}


/* Modal Button Styling */
.btn-primary {
  color: #ffffff !important;
  background-color: #d60037;
  border-color: #d60037;
  font-family: 'brandon-black';
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff !important;
  background-color: #d60037;
  border-color: #d60037;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #d60037;
  border-color: #d60037;
}

/* Tour Styling */
nz-tour .nzTour-masks .mask.bottom, 
nz-tour .nzTour-masks .mask.left, 
nz-tour .nzTour-masks .mask.right, 
nz-tour .nzTour-masks .mask.top {
  background-color: #08090D !important;
  opacity: .85;
}

nz-tour #nzTour-actions {
    position: absolute;
    bottom: 0.5em;
    left: 1.1em;
    height: 24px;
}

nz-tour #nzTour-actions button.success {
  background-color: transparent;
  color: #ffffff;
  font-family: 'brandon-black';
  text-transform: uppercase;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 50px;
  height: 50px;
  font-size: 8px;
}
nz-tour #nzTour-actions button.success:hover {
  background-color: #ffffff;
  color: #08090D;
  font-family: 'brandon-black';
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 50px;
  height: 50px;
  font-size: 8px;
}

nz-tour #nzTour-box {
    background-color: transparent;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    box-shadow: none;
}

nz-tour #nzTour-content {
    vertical-align: middle;
    /*adjusting this to address scrollbar issue*/
    padding: 1% 7%;
    border: none;
    font-family: 'brandon-black';
    font-size: 16px;
  
}

nz-tour #nzTour-actions {
  bottom: 1.5em;
}

/* Pointy area on top of tour circle that points - when on top */
nz-tour #nzTour-tip.vertical.top {
    top: -13px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 18px solid transparent;
}

nz-tour #nzTour-tip.vertical.top.left {
    top: -13px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 18px solid transparent;
}

/* Game Area Styling */
.game-box.game-on{
    padding: 5% 20% 15% 20%;
    border: 3px solid #d60037;
    color: #d60037;
    text-align: center;
    position: relative;
}

.panel-default > .panel-heading, .panel-default .panel-heading, .game-title {
  font-family: 'brandon-black';
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  background: #ffffff;
  border: none;
  color: #d60037;
  padding: 11% 0% 1% 0%;
  letter-spacing: 2px;
}

.quiz-area {
  font-family: 'brandon-medium';
  font-size: 16px;
}

.quiz-area #question,
.quiz-area #correct-answer,
.quiz-area #explanation {
  font-size: 20px;
  padding: 0% 0% 10% 0%;
  line-height: 31px;
}

.quiz-area #options{
  text-align: center;
  list-style: none;
  padding: 0;
}

/* Answer options stling, and Next Button */
.quiz-area input[type="button"],
.quiz-area .next-question{
  background: #ffffff;
  border: 3px solid #d60037;
  color: #d60037;
  padding: 7px 13px;
  margin: 6%;
}

.quiz-area input[type="button"]:active, 
.quiz-area input[type="button"]:focus, 
.quiz-area input[type="button"]:hover,
.quiz-area .next-question:active,
.quiz-area .next-question:focus,
.quiz-area .next-question:hover {
  background: #d60037;
  border: 3px solid #d60037;
  padding: 7px 13px;
  color: #ffffff;
  /*font-family: brandon-black;*/
  margin: 6%;
}

ul#game-stars {
  font-size: 0;
  list-style: none;
  padding: 0 0 7% 0;
}

li#game-star {
  display: inline-block;
  padding: 0 8px;
  font-size: 12px
}

/* Game Congrats Area */
.game-box#quiz-over{
  padding: 2% 2% 2% 2%;
  border: 3px solid #d60037;
  color: #d60037;
  text-align: center;
}

.quiz-area.quiz-over {
  padding: 20% 20% 0% 20%;
  background-color: #d60037;
  color: #ffffff;
}

.congrats {
  font-size: 18px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-family: 'brandon-regular';
  letter-spacing: 1px;
}

.congrats-subtitle{
  font-size: 18px;
  font-family: 'brandon-regular';
  letter-spacing: 1px;
}

button#reset-game {
  color: #ffffff;
  background-color: #d60037;
  border: 0; 
  font-size: 18px;
  font-family: 'brandon-regular';
}

.game-reset-wrapper{
  padding: 40% 0% 40% 0%;
}

.reset-icon-li{
  list-style: none;
  font-size: 28px;
}

.stars-wrapper{
  background-image: url(/img/three-stars.svg);
  width: 104%;
  height: 135px;
  background-repeat: no-repeat;
  text-align: center;
}

.star-icon-left{
  font-size: 500%; 
  vertical-align: middle;
  /*display: inline;*/
}
.star-icon-middle{
  font-size: 800%; 
  vertical-align: middle;
  /*display: inline;*/

}
.star-icon-right{
  font-size: 500%; 
  vertical-align: middle;
  /*display: inline;*/
}

/* Try Again Div */
#incorrect-answer-wrapper{
  border: none;
  position: absolute;
  bottom: 0;
  background-color: #d60037;
  color: #ffffff;
  right:0;
  width: 100%;
  height: 7%;
  padding: 2%;
}

/* Pop In Animation */
@-webkit-keyframes pop-in {
  0% { opacity: 0; }
  1% { opacity: 0; -webkit-transform: scale(0.98) translateY(30px); }
  80% { -webkit-transform: scale(1); }
  100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes pop-in {
  0% { opacity: 0; }
  1% { opacity: 0; -moz-transform: scale(0.98) translateY(30px); }
  80% { -moz-transform: scale(1); }
  100% { -moz-transform: translateY(0); }
}
@-o-keyframes pop-in {
  0% { opacity: 0; }
  1% { opacity: 0; -o-transform: scale(0.98) translateY(30px); }
  80% { -o-transform: scale(1); }
  100% { -o-transform: translateY(0); }
}
@keyframes pop-in {
  0% { opacity: 0; }
  1% { opacity: 0; transform: scale(0.98) translateY(30px); }
  80% { transform: scale(1); }
  100% { transform: translateY(0); }
}

.pop-in {
    -webkit-animation: pop-in .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    -moz-animation: pop-in .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    -o-animation: pop-in .1s cubic-bezier(0.0, 0.0, 0.2, 1);
    animation: pop-in .1s cubic-bezier(0.0, 0.0, 0.2, 1);
}

/* Pop Out Animation */
@keyframes pop-out {
  0% { opacity: 1; }
  1% { -webkit-transform: translateY(0); }
  5% { -webkit-transform: opacity: 0; }
  80% { -webkit-transform: scale(1) translateY(5px); opacity: 0;}
  100% { -webkit-transform: translateY(30px); opacity: 0;}
}
@keyframes pop-out {
  0% { opacity: 1; }
  1% { -moz-transform: translateY(0); }
  5% { -moz-transform: opacity: 0; }
  80% { -moz-transform: scale(1) translateY(5px); opacity: 0;}
  100% { -moz-transform: translateY(30px); opacity: 0;}
}
@keyframes pop-out {
  0% { opacity: 1; }
  1% { -o-transform: translateY(0); }
  5% { -o-transform: opacity: 0; }
  80% { -o-transform: scale(1) translateY(5px); opacity: 0;}
  100% { -o-transform: translateY(30px); opacity: 0;}
}
@keyframes pop-out {
  0% { opacity: 1; }
  1% { transform: translateY(0); }
  5% { transform: opacity: 0; }
  80% { transform: scale(1) translateY(5px); opacity: 0;}
  100% { transform: translateY(30px); opacity: 0;}
}


#incorrect-answer-wrapper.ng-hide{
    -webkit-animation: pop-out .15s cubic-bezier(0.4, 0.0, 0.6, 1);
    -moz-animation: pop-out .15s cubic-bezier(0.4, 0.0, 0.6, 1);
    -o-animation: pop-out .15s cubic-bezier(0.4, 0.0, 0.6, 1);
    animation: pop-out .15s cubic-bezier(0.4, 0.0, 0.6, 1);
}


i.fa-frown-o {
  display: inline;
}

#incorrect-answer{
  font-size: 18px;
  margin: 2%;
  letter-spacing: 1px;
  display: inline;
}




/* BEGIN Media Queries */

/* Tablet and Desktop Widths */

@media (min-width: 768px) {

/* Sidebar Control*/
  .app-aside, .navbar-header {
      width: 290px;
      margin-right: 20px;
  }

  .app-aside-fixed .aside-wrap {
      overflow: inherit;
      }

  .app-aside-fixed .aside-wrap .navi-wrap > * {
      width: 290px;

  }

  .navbar-collapse, .app-content, .app-footer {
      margin-left: 290px;
  }

/* Left-hand Nav Formatting/Styling */
  .app-aside-fixed .aside-wrap {
      width: 290px;
      /* border color/width to match mock */
      border: 1px solid #edf1f2;
  }

  /* change width to adjust scrollbar */
  .app-aside-fixed .aside-wrap .navi-wrap {
      width: 295px;
      /*overflow-x: visible;*/
  }

  .app.container .app-aside {
      overflow-x: visible;
  }



}

/* Mobile and Small Tablet Widths */

@media (max-width: 767px) {
  /*Fix for gray background of body content when menu is clicked on mobile*/
  .off-screen + * {
    background-color: #ffffff;
  } 
  /*Fix for modal top alignment on mobile*/
  .modal {
    top: -10px;
  }
  /* Hide border on small screens - this was the sam thing we needed to add back into his mobile media query*/
  .b-r {
      border-right: 1px solid transparent;
  }


/* adjust size of icons on mobile */
  .inline-block-icon {
    padding: 5% 0 5% 0;
    width: 50%;
  }
/* change paragraph-text for mobile */
  .paragraph-size{
    height: 80px;
  }

}

/* Media Query for Game congrats page */
@media (min-width: 768px) {
  .congrats {
    font-size: 25px;
    text-transform: uppercase;
    text-transform: uppercase;
    font-family: 'brandon-regular';
    letter-spacing: 1px;
  }
  .congrats-subtitle{
    font-size: 20px;
    font-family: 'brandon-regular';
    letter-spacing: 1px;
  }
  .game-star-icons-li-left{
    font-size: 75px; 
    vertical-align: sub;
    display: inline;
  }
  .game-star-icons-li-middle{
    font-size: 125px; 
    vertical-align: sub;
    display: inline;

  }
  .game-star-icons-li-right{
    font-size: 75px; 
    vertical-align: sub;
    display: inline;
  }
  button#reset-game {
    color: #ffffff;
    background-color: #d60037;
    border: 0; 
    font-size: 25px;
    font-family: 'brandon-regular';
  }

  .reset-icon-li{
    list-style: none;
    font-size: 28px;
  }
}


/* Mobile Widths, less than 767 */
@media (max-width: 767px) {
  .navbar-brand {
    font-size: 21.5px;
  }
}
