/* fonts */

@font-face {
	font-family: 'brandon-regular';
	src: url('/fonts/brandon/brandon_reg-webfont.eot');
	src: url('/fonts/brandon/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/brandon/brandon_reg-webfont.woff') format('woff'),
	url('/fonts/brandon/brandon_reg-webfont.ttf') format('truetype'),
	url('/fonts/brandon/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'brandon-thin';
	src: url('/fonts/brandon/brandon_thin-webfont.eot');
	src: url('/fonts/brandon/brandon_thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/brandon/brandon_thin-webfont.woff') format('woff'),
	url('/fonts/brandon/brandon_thin-webfont.ttf') format('truetype'),
	url('/fonts/brandon/brandon_thin-webfont.svg#brandon_grotesque_thinRg') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'brandon-black';
	src: url('/fonts/brandon/brandon_blk-webfont.eot');
	src: url('/fonts/brandon/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/brandon/brandon_blk-webfont.woff') format('woff'),
	url('/fonts/brandon/brandon_blk-webfont.ttf') format('truetype'),
	url('/fonts/brandon/brandon_blk-webfont.svg#brandon_grotesque_blackRg') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'brandon-regular';
	src: url('/fonts/brandon/brandon_bld-webfont.eot');
	src: url('/fonts/brandon/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/brandon/brandon_bld-webfont.woff') format('woff'),
	url('/fonts/brandon/brandon_bld-webfont.ttf') format('truetype'),
	url('/fonts/brandon/brandon_bld-webfont.svg#brandon_grotesque_boldregular') format('svg');
	font-weight: bold;
	font-style: normal;

}
@font-face {
	font-family: 'brandon-light';
	src: url('/fonts/brandon/brandon_light-webfont.eot');
	src: url('/fonts/brandon/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/fonts/brandon/brandon_light-webfont.woff') format('woff'),
	url('/fonts/brandon/brandon_light-webfont.ttf') format('truetype'),
	url('/fonts/brandon/brandon_light-webfont.svg#brandon_grotesque_lightRg') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
    font-family: 'brandon-medium';
    src: url('/fonts/brandon/brandon_med-webfont.eot');
    src: url('/fonts/brandon/brandon_med-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandon/brandon_med-webfont.woff') format('woff'),
         url('/fonts/brandon/brandon_med-webfont.ttf') format('truetype'),
         url('/fonts/brandon/brandon_med-webfont.svg#brandon_grotesque_mediumRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-y:scroll;
  font-size: 14px;
}

a {color: #009dd9;}

a:hover, a:focus {color: #009dd9; text-decoration: underline;}

img {max-width: 100%;}

/* colors */

.white-bkg {background-color:#ffffff;}

.white {color:#ffffff;}

.black-bkg {background-color:#000000;}

.dkgray-bkg {background-color:#313742;}

.black {color:#000000;}

.blue-bkg {background-color:#009dd9;}

.blue {color:#009dd9;}

.purple-bkg {background-color: rgb(178,29,172);}

.purple {color: rgb(178,29,172);}

.dkgray {color:#313742;}

.ltgray {color:#7d7d7d;}



/* Formatting for left-hand nav titles without an icon (ie, star) */
.navi ul.nav li#no-icon-page {
	margin: 0 35px;
}
/* Color formatting for links that have been clicked: default is .ltgray */
.link-clicked{
	color: #000000;
}
/* Color formatting for links that haven't been clicked */
.link-unclicked{
	color:#7d7d7d;
}

/* Background styling; removed image */
html.bg {
  background: none;
  background-attachment: fixed;
  background-size: cover;
}


/* Remove shadow for sides in container: from 30px to 0px; */
/* Adapted in app.layout.boxed.less because it created a weird bug when only one media query is created here*/

/*@media (min-width: 768px) {
  .app.container {
    width: 750px;
    -webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
  }
}*/

/* Resets content area color*/
.app:before {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: inherit;
  background-color: #ffffff;
  border: inherit;
  content: "";
}


/* Module Color Scheme */
/* bg-black controls areas that have a dark background */
.bg-black {
	/*custom*/
  color: #ffffff;
  background-color: #A2009F;
}

.bg-black.lt,
.bg-black .lt {
  background-color: #A2009F;
}

.bg-black.lter,
.bg-black .lter {
  background-color: #A2009F;
}

.bg-black.dk,
.bg-black .dk {
  background-color: #A2009F;
}

.bg-black.dker,
.bg-black .dker {
  background-color: #A2009F;
}

.bg-black.bg,
.bg-black .bg {
  background-color: #A2009F;
}

.bg-black a {
  color: #A2009F;
}

.bg-black a:hover {
  color: #ffffff;
}

.bg-black a.list-group-item:hover,
.bg-black a.list-group-item:focus {
  background-color: inherit;
}

.bg-black .nav > li:hover > a,
.bg-black .nav > li:focus > a,
.bg-black .nav > li.active > a {
  color: #ffffff;
  background-color: #A2009F;
}

.bg-black .nav > li > a {
  color: #ffffff; 
  /*custom*/
}

.bg-black .nav > li > a:hover,
.bg-black .nav > li > a:focus {
  background-color: #A2009F;
}

.bg-black .nav .open > a {
  background-color: #A2009F;
}

.bg-black .caret {
  border-top-color: #A2009F;
  border-bottom-color: #A2009F;
}

.bg-black.navbar .nav > li.active > a {
  color: #ffffff;
  background-color: #A2009F;
}

.bg-black .open > a,
.bg-black .open > a:hover,
.bg-black .open > a:focus {
  color: #ffffff;
}

.bg-black .text-muted {
  color: #5c798f !important;
}

.bg-black .text-lt {
  color: #ffffff !important;
}

.bg-black.auto .list-group-item,
.bg-black .auto .list-group-item {
  background-color: transparent;
  border-color: #A2009F !important;
}

.bg-black.auto .list-group-item:hover,
.bg-black .auto .list-group-item:hover,
.bg-black.auto .list-group-item:focus,
.bg-black .auto .list-group-item:focus,
.bg-black.auto .list-group-item:active,
.bg-black .auto .list-group-item:active,
.bg-black.auto .list-group-item.active,
.bg-black .auto .list-group-item.active {
  background-color: #A2009F !important;
}

/* Module Color Scheme */
/* bg-light controls the main content areas */
.bg-light {
  color: #666666;
  background-color: #ffffff;
}

.bg-light.lt,
.bg-light .lt {
  background-color: #ffffff;
}

.bg-light.lter,
.bg-light .lter {
  background-color: #ffffff;
}

.bg-light.dk,
.bg-light .dk {
  background-color: #ffffff;
}

.bg-light.dker,
.bg-light .dker {
  background-color: #ffffff;
}

.bg-light.bg,
.bg-light .bg {
  background-color: #ffffff;
}



/* TLDR Button Color Scheme */
/* Changed color to module's accent color */
.btn-success {
  color: #A2009F !important;
  background-color: #ffffff;
  border-color: #A2009F;
  margin: 30px 0 30px 0;
  border-radius: 0px;
  font-family: brandon-regular;
}

.btn {
	padding: 0px 5px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #A2009F !important;
  background-color: #ffffff;
  border-color: #A2009F;
}

.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #ffffff;
  border-color: #A2009F;
}

/* Formatting for text in content area */

.padder-md {
  padding-right: 20px;
  padding-left: 40px;
}

/*===== Sam's CSS ======*/

/* This is for the pagination arrows */
.arrowWrap {
    position: inherit;
    text-align: center;
    right: 0;
    bottom: 75px;
    left: 0;
    padding: 20px 0px;
}

.arrows {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-left: 0px;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
        
}

.arrows li {
    float: left;
    padding: 2px 10px;
}

.arrows a, .arrows a:active, .arrows a:visited, .arrows a:focus {
    color: #A2009F;
    font-size: 20px;
    border: 3px solid #A2009F;
    padding: 15px;
    transition: .25s;
}

.arrows a:hover {
  background: #A2009F;
  color: #fff;
}

/* Prevents menu from stacking*/
.m-l-xs {
    margin-left: 0;
    white-space: nowrap;
}

.navbar-brand {
  font-size: 17px;
  font-family: brandon-black;
  text-transform: uppercase;
  letter-spacing: 2px;
}



/* Controls the length of the sidebar links */
.navi ul.nav li a {
    font-size: 13px;
    width: 301px;
}


.navi ul.nav li a {
    font-size: 13px;
  }

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #A2009F;
    color: #fff;
}

.navi ul.nav li#no-icon-page {
    margin: 0px;
}


/* Hide border on small screens*/
.b-r {
    border-right: 1px solid transparent;
}

@media (min-width: 600px) and (max-width: 767px) {
  .navi ul.nav li a {
    width: 500px;
}
}

.navi ul.nav li#no-icon-page a {
    padding: 10px 55px;
}

@media (min-width: 768px) {

/* Sidebar Control*/
  .app-aside, .navbar-header {
      width: 290px;
      margin-right: 20px;
  }

  .app-aside-fixed .aside-wrap {
      overflow: inherit;
      }

  .app-aside-fixed .aside-wrap .navi-wrap > * {
      width: 290px;

  }

  .navbar-collapse, .app-content, .app-footer {
      margin-left: 290px;

  }

/* Left-hand Nav Formatting/Styling */
  .app-aside-fixed .aside-wrap {
      width: 290px;
      /* border color/width to match mock */
      border: 1px solid #edf1f2;
  }

  .app-aside-fixed .aside-wrap .navi-wrap {
      width: 310px;
      overflow-x: visible;
  }

  .app.container .app-aside {
      overflow-x: visible;
  }


.arrowWrap {
    text-align: center;
    position: inherit;
    right: 0;
    bottom: 75px;
    left: 0;
}

.padder-md {
    min-height: 400px;
}

.b-r {
    border-right: 1px solid #dee5e7;
}

/* Homepage Styling */
.homepage-style {
  /*custom*/
  color: #ffffff;
  background-color: #161514;
}

.homepage-style.bg,
.homepage-style .bg {
  background-color: #161514;
}

.homepage-style a.list-group-item:hover,
.homepage-style a.list-group-item:focus {
  background-color: inherit;
}

/* Homepage buttons styling */
.btn-homepage { 
  font-family: brandon-black; 
  font-size: 10px; 
  text-transform: uppercase; 
  padding: 1px 9px; 
  border: #ffffff 1px solid; 
  color: #ffffff;
  margin: 3px;
} 
 
.btn-homepage:hover, 
.btn-homepage:focus, 
.btn-homepage:active, 
.btn-homepage.active, 
.open .dropdown-toggle.btn-homepage { 
  color: #161514; 
  background-color: #fff; 
  border-color: #161514; 
  text-decoration: none;
} 
 
.btn-homepage:active, 
.btn-homepage.active, 
.open .dropdown-toggle.btn-homepage { 
  background-image: none; 
} 
 
.btn-homepage.disabled, 
.btn-homepage[disabled], 
fieldset[disabled] .btn-homepage, 
.btn-homepage.disabled:hover, 
.btn-homepage[disabled]:hover, 
fieldset[disabled] .btn-homepage:hover, 
.btn-homepage.disabled:focus, 
.btn-homepage[disabled]:focus, 
fieldset[disabled] .btn-homepage:focus, 
.btn-homepage.disabled:active, 
.btn-homepage[disabled]:active, 
fieldset[disabled] .btn-homepage:active, 
.btn-homepage.disabled.active, 
.btn-homepage[disabled].active, 
fieldset[disabled] .btn-homepage.active { 
  background-color: #707276; 
  border-color: #FFFFFF; 
} 
 
.btn-homepage .badge { 
  color: #161514; 
  background-color: #FFFFFF; 
}



