<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var what_have_we_learned_link = $(".what_have_we_learned_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_have_we_learned_link=="true" ) {
      what_have_we_learned_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      what_have_we_learned_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var what_are_ratings_link = $(".what_are_ratings_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_are_ratings_link=="true" ) {
      what_are_ratings_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      what_are_ratings_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>


<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">

      <!-- custom url modal -->
      <a ui-sref="media-overview.where-does-nielsen-come-in.tldr" class="btn btn-success" ng-click="app.click_history.where_does_nielsen_come_in_modal_link = 'true';" class="where_does_nielsen_come_in_link">TLDR</a>



      <!-- <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
        Consumers use four main platforms to consume content and advertising: television, connected devices, digital and audio. Consumers can use a number of devices within across each of these platforms to consume content. We provide an in-depth look into how Nielsen measures each of these platforms within this Ratings Academy.
      </p>
      <p>*Table for Television, Connected Devices, Digital Devices, Audio with definitions</p>
      
    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.what-have-we-learned" class="leftArrow" ng-click="app.click_history.what_have_we_learned_link = 'true';" class="what_have_we_learned_link" id="what_have_we_learned_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.what-are-ratings" class="rightArrow" ng-click="app.click_history.what_are_ratings_link = 'true';" class="what_are_ratings_link" id="what_are_ratings_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>