<script type="text/javascript">

$( document ).ready(function() {



  // PAGE AFTER

  // jQuery for left-hand nav link
  var video_text_audio_link = $(".video_text_audio_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).video_text_audio_link=="true" ) {
      video_text_audio_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("video-text-audio.rightArrow").on("click", function(){
      video_text_audio_link.addClass("link-clicked");
    });


});





</script> 


<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">

      <!-- custom url modal -->
      <a ui-sref="media-overview.media-is.tldr" class="btn btn-success tldr" ng-click="app.click_history.media_is_modal_link = 'true';" class="media_is_link" id="tldr-media-is">TLDR</a>

      <h3 class="page-title red">Media is</h3>

      <!-- <div class="line b-b"></div> -->
      <p id="e1">
        We all know what the word “media” means, but times have changed and its definition is evolving. The word “media” expands well beyond the realm of advertising and communications, as technology has made media an integral part of consumers’ lives—from traditional TV to on-the-go mobile consumption to radio to the internet to over-the-top (OTT) video programming. With the advent of mobile technology, consumers have more touchpoints than ever. And the rapidly expanding mobile environment offers marketers even more consumer insights. The challenge, however, lies in sifting through the treasure chest of big data to find actionable insights that will drive business results.
      </p>

      <br>

      <img src="img/media-is.svg">

      <br><br><br>

    </div>
  </div>
</div>

<div class="arrowWrap">
  <ul class="arrows">
  <!-- Customize by changing 
  (1) ui-sref 
  (2) ng-click="app.click_history.<appropriate link>" 
  (3) class, and 
  (4) id -->
  
  <!-- Page After Arrow -->
    <li id="e2"><a ui-sref="media-overview.video-text-audio" class="rightArrow" ng-click="app.click_history.video_text_audio_link = 'true';" class="video_text_audio_link" id="video_text_audio_arrow"><i class="fa fa-play"></i></a></li>
  </ul>
</div>



