<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var panels_link = $(".panels_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).panels_link=="true" ) {
      panels_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.btn-success#panels_arrow").on("click", function(){
      console.log("test if arrow clicked");
      panels_link.addClass("link-clicked");
      console.log("class added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var audio_panels_link = $(".audio_panels_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_link=="true" ) {
      audio_panels_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.btn-success#type_of_media_arrow").on("click", function(){
      audio_panels_link.addClass("link-clicked");
    });


});



</script>  

<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">

      <!-- custom url modal -->
      <br><br>
      
      <!-- <a ui-sref="media-overview.tv-panels.tldr" class="btn btn-success" ng-click="app.click_history.tv_panels_modal_link = 'true';" class="tv_panels_link">TLDR</a> -->


      <!-- page content -->
      <p>
        Let's see what you've learned before we move on
      </p>

      <!-- game functionality -->
      <div class="wrapper-md game-area" ng-controller="gameATourCtrl">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">

              <!-- Game Box -->

                      <quiza/>

              <!-- / Game box -->
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
      

    </div>
  </div>
</div>  

<div class="arrowWrap">
  <ul class="arrows">
          <!-- Customize by changing 
  (1) ui-sref 
  (2) ng-click="app.click_history.<appropriate link>" 
  (3) class, and 
  (4) id -->
  
  <!-- Page Before Arrow -->
    <li><a ui-sref="media-overview.panels" class="leftArrow" ng-click="app.click_history.panels_link = 'true';" class="panels_link" id="panels_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
  <!-- Page After Arrow -->
    <li><a ui-sref="media-overview.audio-panels" class="rightArrow" ng-click="app.click_history.audio_panels_link = 'true';" class="audio_panels_link" id="audio_panels_arrow"><i class="fa fa-play"></i></a></li>
  </ul>
</div>



