<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var panels_game_link = $(".panels_game_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).panels_game_link=="true" ) {
      panels_game_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      panels_game_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var privacy_link = $(".privacy_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).privacy_link=="true" ) {
      privacy_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      privacy_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>



<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Who are the key players in the media industry?</h3> -->

      <!-- custom url modal -->
      <br><br>
      
      <!-- <a ui-sref="media-overview.census-data.tldr" class="btn btn-success" ng-click="app.click_history.census_data_modal_link = 'true';" class="census_data_link">TLDR</a> -->
      <h3 class="page-title red">Census Data</h3>

      <p>Now that we’ve reviewed the first part of Nielsen’s measurement approach, panels, let’s talk about the second: census-based measurement.
      </p>
      <p>Long story short, this tech-based approach allows Nielsen to count each and every time a piece of content or ad is served to a consumer on a digital device, no matter whether the audience is consuming video, audio or text. Nielsen counts each time media is consumed and with help from our data partners and through the use of models based on our panels, we can estimate demographic information about each view to understand who the audience is in terms of age, gender, education, income level, etc.</p>

      <p>Once Nielsen receives the final counts for who saw the content or media, the panels come back into play. Remember, the panels act as a truth set–Nielsen definitively knows not only WHAT is being tuned to in our panels but WHO lives there. So, these “truth sets” are used to calibrate the census data collected to account for any errors. For instance, what if you share your tablet with your sister? If we measured a digital ad served on the tablet, we might originally conclude that you were served a piece of content when in reality, it was your younger sister. Therefore, we calibrate the data we’ve collected using our panels to account for potential errors like this.</p>

      <p>Both aspects of Nielsen’s hybrid measurement strategy are pivotal to providing a stable and granular solution for the media industry, which counts all markets, platforms and people.</p>

    </div>
  </div>
</div>

<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.panels-game" class="leftArrow" ng-click="app.click_history.panels_game_link = 'true';" class="panels_game_link" id="panels_game_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.privacy" class="rightArrow" ng-click="app.click_history.privacy_link = 'true';" class="privacy_link" id="privacy_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>