<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var key_players_link = $(".key_players_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).key_players_link=="true" ) {
      key_players_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      key_players_link.addClass("link-clicked");
      console.log("left arrow added")
    });




  // PAGE AFTER

  // jQuery for left-hand nav link
  var what_are_ratings_link = $(".what_are_ratings_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_are_ratings_link=="true" ) {
      what_are_ratings_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      what_are_ratings_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>



<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">What form does media take?</h3> -->

      <!-- custom url modal -->
      <br><br>
      
<!--       <a ui-sref="media-overview.game-3.tldr" class="btn btn-success" ng-click="app.click_history.game_3_modal_link = 'true';" class="game_3_link">TLDR</a> -->
      <h3 class="page-title red">Platforms & Key Players</h3>


      <!-- page content -->
      <p>
        Let's see what you've learned before we move on
      </p>

      <!-- game functionality -->
      <div class="wrapper-md game-area">
        <div class="row">
          <div class="col-sm-1"></div>
            <div class="col-sm-10">

              <!-- Game Box -->

                      <quizc/>

              <!-- / Game box -->
            </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.key-players" class="leftArrow" ng-click="app.click_history.key_players_link = 'true';" class="key_players_link" id="key_players_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.what-are-ratings" class="rightArrow" ng-click="app.click_history.what_are_ratings_link = 'true';" class="what_are_ratings_link" id="what_are_ratings_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>