    //- Imported stylesheets
    link(rel="stylesheet", href="/libs/assets/animate.css/animate.css", type="text/css")
    link(rel="stylesheet", href="/libs/assets/font-awesome/css/font-awesome.min.css", type="text/css")
    link(rel="stylesheet", href="/libs/assets/simple-line-icons/css/simple-line-icons.css", type="text/css")
    link(rel="stylesheet", href="/libs/jquery/bootstrap/dist/css/bootstrap.css", type="text/css")
    
    //- <!-- build:css css/app.min.css -->
    link(rel="stylesheet" href="/css/font.css" type="text/css")
    link(rel="stylesheet" href="/css/app.css" type="text/css")
    link(rel="stylesheet" href="/css/nz-tour.css" type="text/css")
    //- <!-- endbuild -->
    base(href="/")