<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var how_do_we_get_ratings_link = $(".how_do_we_get_ratings_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).how_do_we_get_ratings_link=="true" ) {
      how_do_we_get_ratings_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      how_do_we_get_ratings_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var tv_panels_overview_link = $(".tv_panels_overview_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).tv_panels_overview_link=="true" ) {
      tv_panels_overview_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      tv_panels_overview_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>



<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Who are the key players in the media industry?</h3> -->

      <!-- custom url modal -->
      <br><br>
      
      <!-- <a ui-sref="media-overview.panels.tldr" class="btn btn-success" ng-click="app.click_history.panels_modal_link = 'true';" class="panels_link">TLDR</a> -->
      <h3 class="page-title red">Panels</h3>

      

<!-- 
      <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>To comprehensively understand media consumption, Nielsen measures media habits of a curated sample of consumers that is geographically and demographically representative of the region’s population.
      </p>
      <p>Nielsen recruits consumers in person, over the phone, via mail or online to become a part of our panels. Nielsen data scientists run a number of processes to identify the exact households to recruit for the panels to ensure that they’re representative of the population being measured, accounting for characteristics such as age, gender and ethnicity. Once these consumers agree to become a panelist, or “a Nielsen Family,” we explain how we’ll be measuring their activity. Nielsen uses various methods for its media measurement, metering technology and paper diaries. For a Nielsen family using meters, our team installs the technology on different devices in their homes (depending on the panel) and trains the panelists how to use it.</p>

      <p>Looking at our U.S. television ratings panels for example, Nielsen uses statistical sampling methods to identify homes that will represent the population of U.S. television households. Nielsen then recruits these randomly selected residents to be a part of a Nielsen TV panel.</p>

      <p>When thinking about panels, it’s important to remember that Nielsen works to curate groups of REAL consumers that are representative of the population. This meticulous process and constant upkeep ensures that the panels truly embody consumption habits of a specific population. All Nielsen measurement is under constant supervision to preserve Nielsen’s ratings as market currency (i.e., give buyers and sellers peace of mind to use ratings data to buy and sell ads). For many products used in the U.S. market, Nielsen engages independent third-party auditors to ensure that appropriate and relevant measure standards are met. Then, Nielsen submits these products to third-party organizations that represent the industry for accreditation. In other countries, Nielsen engages with joint industry committees to ensure that the relevant measurement standards for that country are met.</p>
      <p>Let’s review the types of Nielsen panels and the technology used to measure television, digital and audio.</p>

      <p>First up, television.</p>

    </div>
  </div>
</div>

<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.how-do-we-get-ratings" class="leftArrow" ng-click="app.click_history.how_do_we_get_ratings_link = 'true';" class="how_do_we_get_ratings_link" id="how_do_we_get_ratings_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.tv-panels-overview" class="rightArrow" ng-click="app.click_history.tv_panels_overview_link = 'true';" class="tv_panels_overview_link" id="tv_panels_overview_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>