// Loading Screen
.m-app-loading(ng-animate-children='')
  //
    HACKY CODE WARNING: I'm putting Style block inside directive so that it
    will be removed from the DOM when we remove the directive container.
  style(type='text/css').
    div.m-app-loading {
    position: fixed ;
    }
    div.m-app-loading div.animated-container {
    background-color: #ffffff ;
    bottom: 0px ;
    left: 0px ;
    opacity: 1.0 ;
    position: fixed ;
    right: 0px ;
    top: 0px ;
    z-index: 999999 ;
    }
    /* Used to initialize the ng-leave animation state. */
    div.m-app-loading div.animated-container.ng-leave {
    opacity: 1.0 ;
    transition: all ease-in 500ms ;
    /*transition-delay: 5s ;*/
    /*-webkit-transition-delay: 5s ;*/
    -webkit-transition: all ease-in 500ms ;
    }
    /* Used to set the end properties of the ng-leave animation state. */
    div.m-app-loading div.animated-container.ng-leave-active {
    opacity: 0 ;
    }
  // BEGIN: Actual animated container.
  .animated-container
    div(ui-butterbar='')
  // END: Actual animated container.
// END: App-Loading Screen.
// navbar
.app-header.navbar
  include tpl/module-1/blocks/header
// / navbar
// menu
.app-aside.hidden-xs(data-ng-include=" 'tpl/module-1/blocks/aside.html' ", class='{{app.settings.asideColor}}')
// / menu
// content
.app-content
  div(ui-butterbar='')
  a.off-screen-toggle.hide(href='', ui-toggle-class='off-screen', data-target='.app-aside')
  .app-content-body.fade-in-up(ui-view='')
// /content
// footer
.app-footer.wrapper.b-t.bg-light
  span.pull-right
    | {{app.version}} 
    a.m-l-sm.text-muted(href='', ui-scroll-to='app')
      i.fa.fa-long-arrow-up
  |     Copyright © 2016. The Nielsen Company test (US), LLC.
  a(href='https://www.nielsen.com/us/en/privacy-statement.html', target='_blank', style='text-decoration: underline;') Privacy Statement
  a(href='http://www.nielsen.com/us/en/terms-of-use.html', target='_blank', style='text-decoration: underline;')  Terms of Use
// / footer
// Settings Menu
//
  <div data-ng-include=" 'tpl/module-1/blocks/settings.html' " class="settings panel panel-default">
  </div>
