<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var game_4_link = $(".game_4_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).game_4_link=="true" ) {
      game_4_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      game_4_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var panels_link = $(".panels_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).panels_link=="true" ) {
      panels_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      panels_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>


<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Overview</h3> -->

      <!-- custom url modal -->
      <a ui-sref="media-overview.how-do-we-get-ratings.tldr" class="btn btn-success" ng-click="app.click_history.how_do_we_get_ratings_modal_link = 'true';" class="how_do_we_get_ratings_link">TLDR</a>

      


      <!-- <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
      *Table/Quiz for Linear Ads + Dynamic Ads


      </p>
      
    </div>
  </div>
</div>


<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.game-4" class="leftArrow" ng-click="app.click_history.game_4_link = 'true';" class="game_4_link" id="game_4_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.panels" class="rightArrow" ng-click="app.click_history.panels_link = 'true';" class="panels_link" id="panels_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>