<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var key_players_link = $(".key_players_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).key_players_link=="true" ) {
      key_players_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      key_players_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var where_does_nielsen_come_in_link = $(".where_does_nielsen_come_in_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).where_does_nielsen_come_in_link=="true" ) {
      where_does_nielsen_come_in_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      where_does_nielsen_come_in_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>



<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Who are the key players in the media industry?</h3> -->

      <!-- custom url modal -->
      <a ui-sref="media-overview.what-have-we-learned.tldr" class="btn btn-success" ng-click="app.click_history.what_have_we_learned_modal_link = 'true';" class="what_have_we_learned_link">TLDR</a>

      

<!-- 
      <div id="node-req" class="wrapper"></div>
      <div class="line b-b"></div> -->
      <p>
        There are two main parties that operate within the media industry: media buyers and media sellers.
      </p>
      <p>*Table for Media Buyers with definition</p>

      <br>

      <p>There are two primary types of media buyers: advertisers and agencies. </p>
      <p>1. ADVERTISER: Companies that want to market their products and services for purchase.</p>
      <p>2. AGENCY: Companies that advise advertisers on how and where to market their products and services.</p>
      
      <br>

      <p>*Table for Media Sellers with definition</p>
      <p>There are five key media sellers in the media industry: TV networks, digital publishers, radio broadcasters, ad networks and multichannel video programming distributors.</p>
      <p>1. TV NETWORK: An organization that distributes programming to TV stations/cable networks and content providers.</p>
      <p>2. DIGITAL PUBLISHER: Media owners of sites and/or apps that publish content for consumption.</p>
      <p>3. RADIO BROADCASTER: An organization that distributes radio programming to stations and content providers.</p>
      <p>4. AD NETWORK: Aggregators of online ad inventory across multiple digital sites. Ad networks help publishers match their ad space with advertiser demand. They also offer advertisers online ad inventory sold in bulk to reach their target audience online.</p>
      <p>5. MULTICHANNEL VIDEO PROGRAMMING DISTRIBUTOR (MVPD): A service provider that delivers video programming services, usually for a subscription fee (pay television). These providers include direct broadcast satellite (DBS) providers, cable television (CATV) systems and other wireline video providers (including Verizon FiOS, AT&amp;T U- verse) and competitive local exchange carriers (CLECs) using internet protocol television (IPTV).</p>

    </div>
  </div>
</div>

<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.key-players" class="leftArrow" ng-click="app.click_history.key_players_link = 'true';" class="key_players_link" id="key_players_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.where-does-nielsen-come-in" class="rightArrow" ng-click="app.click_history.where_does_nielsen_come_in_link = 'true';" class="where_does_nielsen_come_in_link" id="where_does_nielsen_come_in_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>