.m-app-loading(ng-animate-children='')
  //
    HACKY CODE WARNING: I'm putting Style block inside directive so that it
    will be removed from the DOM when we remove the directive container.
  style(type='text/css').
    div.m-app-loading {
    position: fixed ;
    }
    div.m-app-loading div.animated-container {
    background-color: #ffffff ;
    bottom: 0px ;
    left: 0px ;
    opacity: 1.0 ;
    position: fixed ;
    right: 0px ;
    top: 0px ;
    z-index: 999999 ;
    }
    /* Used to initialize the ng-leave animation state. */
    div.m-app-loading div.animated-container.ng-leave {
    opacity: 1.0 ;
    transition: all ease-in 500ms ;
    -webkit-transition: all ease-in 500ms ;
    }
    /* Used to set the end properties of the ng-leave animation state. */
    div.m-app-loading div.animated-container.ng-leave-active {
    opacity: 0 ;
    }
  // BEGIN: Actual animated container.
  .animated-container
    div(ui-butterbar='')
  // END: Actual animated container.
// END: App-Loading Screen.
.homepage-style
  // Login Btn
  // <div class="login-btn-container">
  // <a ng-click="logIn()" class="btn-homepage">LOG IN</a>
  // Login Partial
  //
    <div id="login-container" ng-show="login" style="margin: 5%; position: absolute; margin: 2% 0 0 78%; z-index:1;">
    <form class="form-horizontal" method="POST">
    <input type="hidden" name="_csrf" value="ZB2sXgw1IYxE+tMM+BZz6A3514ZFRRmUWa2Dc=">
    <div class="form-group">
    <label class="col-sm-3 control-label" for="email">Email</label>
    <div class="col-sm-7">
    <input class="form-control" type="email" name="email" id="email" placeholder="Email" autofocus required>
    </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label" for="password">Password</label>
    <div class="col-sm-7">
    <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
    <button class="col-sm-3 btn btn-primary" type="submit"><i class="fa fa-user"></i>Login</button><a class="btn btn-link" href="/forgot">Forgot your password?</a>
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7"><hr>
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
    <a class="btn btn-block btn-facebook btn-social" href="/auth/facebook"><i class="fa fa-facebook"></i>Sign in with Facebook</a>
    <a class="btn btn-block btn-twitter btn-social" href="/auth/twitter"><i class="fa fa-twitter"></i>Sign in with Twitter</a>
    <a class="btn btn-block btn-google btn-social" href="/auth/google"><i class="fa fa-google-plus"></i>Sign in with Google</a>
    <a class="btn btn-block btn-github btn-social" href="/auth/github"><i class="fa fa-github"></i>Sign in with GitHub</a>
    <a class="btn btn-block btn-linkedin btn-social" href="/auth/linkedin"><i class="fa fa-linkedin"></i>Sign in with LinkedIn</a>
    <a class="btn btn-block btn-instagram btn-social" href="/auth/instagram"><i class="fa fa-instagram"></i>Sign in with Instagram</a>
    </div>
    </div>
    </form>
    </div>
  // </div>
  // Main Content Section
  .animated.fadeInUp.text-center
    br
    br
    br
    br
    // Ratings Text
    p.h1.m-t.m-b.ratings-text(style=' ') Ratings
    // Academy Text
    p.h1.m-t.m-b.academy-text Academy
    // Subtitle Text Paragraph
    p.h2.m-t.m-b.subtitle-box
      // by text
      span.by-text by
      // Nielsen text
      span.nielsen-text
        b Nielsen
    br
    br
    br
    // Icon Placeholder
    .w-sm.homepage-icon-box
      img.img-circle.homepage-icon(src='img/landing-page-icon.svg')
    br
    br
    br
    p.h2.m-t.m-b.homepage-description-text
      | Consumers have access to more information than ever before, and they access it 24/7. That overload of information, however, puts a premium on the content that's in highest demand. And that means it’s more valuable from an advertising perspective because more people see it, hear it, share it. So how can we objectively identify what content is valuable?
      br
      br
      |     Ratings Academy is designed to provide you with an understanding of: 
      br
      | 1. How Nielsen measures content consumption for the media industry.
      br
      | 2. How Nielsen ratings are calculated and how to interpret them.
    // <br><br>
    .homepage-button-container
      // Access Buttons
      a.btn-homepage(ng-click='continueAsGuest()') BEGIN
      // <a ng-click="signUp()" class="btn-homepage">Sign Up</a>
      // Partials
      // Modules
      //
        <div id="homepage-modules-container" ng-show="guest" style="margin: 5%;">
        <a href="/media-overview/media-is" class="btn-homepage" target="self">media overview</a>
        <a href="/tv-overview/media-is" class="btn-homepage" target="self">tv overview</a>
        </div>
      // Sign Up
      //
        <div id="signup-container" ng-show="signup" style="margin: 5%;">
        <form class="form-horizontal" id="signup-form" method="POST">
        <input type="hidden" name="_csrf" value="cYNMuPpVHriGk743h0xIKpPZi9oW+SUYTHchw=">
        <div class="form-group">
        <label class="col-sm-3 control-label" for="email">Email</label>
        <div class="col-sm-7">
        <input class="form-control" type="email" name="email" id="email" placeholder="Email" autofocus required>
        </div>
        </div>
        <div class="form-group">
        <label class="col-sm-3 control-label" for="password">Password</label>
        <div class="col-sm-7">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
        </div>
        </div>
        <div class="form-group">
        <label class="col-sm-3 control-label" for="confirmPassword">Confirm Password</label>
        <div class="col-sm-7">
        <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-3 col-sm-7">
        <button class="btn btn-success" type="submit"><i class="fa fa-user-plus"></i>Signup</button>
        </div>
        </div>
        </form>
        </div>
#homepage-modules-container.animated.text-center.module-selection-box(ng-show='guest')
  // Blue Bar
  .choose-lesson-block CHOOSE A LESSON TO START
  // Little arrow
  .choose-lesson-arrow
  // Module Container Area
  .modules-container
    br
    br
    br
    br
    a(href='/media-overview/media-is')
      .module-1-container.module-container
        h1.module-container-title MEDIA OVERVIEW
        h2.module-container-text
          | Today, the term “media” applies to much more than just the advertising realm. From OTT video to streaming audio to digital news, the media landscape is readily evolving—and so is Nielsen’s role within in it.
    br
    br
    br
    br
    //
      <div class="module-2-container module-container">
      <h1 class="module-container-title">WHAT ARE "RATINGS"</h1>
      <h2 class="module-container-text">veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</h2>
      </div>
      <div class="module-3-container module-container">
      <h1 class="module-container-title">NIELSEN MEASUREMENT STRATEGY</h1>
      <h2 class="module-container-text">Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. </h2>
      </div>
