.app-aside.hidden-xs(class="{{app.settings.asideColor}}")
  .aside-wrap

    .navi-wrap

      // nav
      include nav.jade
      // nav.navi.clearfix(ui-nav='', ng-include="'tpl/module-1/blocks/nav.html'")
      // nav
      // aside footer
      .wrapper.m-t
