.app-header.navbar

  //-- navbar header
  .navbar-header(class='{{app.settings.navbarHeaderColor}}')
    button.pull-right.visible-xs(ui-toggle-class='off-screen', data-target='.app-aside', ui-scroll-to='app')
      i.glyphicon.glyphicon-align-justify
    
    //-- brand
    a.navbar-brand.text-lt(href='#/')
      span.hidden-folded.m-l-xs Media Overview (beta)

  //- navbar collapse
  .collapse.pos-rlt.navbar-collapse.box-shadow(class='{{app.settings.navbarCollapseColor}}')
    
    //- nabar right
    ul.nav.navbar-nav.navbar-right

      li.dropdown(dropdown='')
        //- ACCOUNT ICON SECTION
        //- a tag is styled to remove hover over effect temporarily
        a.dropdown-toggle.clear.home-menu-icon(href='', dropdown-toggle='')
          span.thumb-sm.pull-right.m-t-n-sm.m-b-n-sm.m-l-sm
            img.home-icon(src='img/home-icon.svg', alt='...')
            //- <i class="glyphicon glyphicon-menu-hamburger"></i>
          span.hidden-sm.hidden-md
          b.caret
        //- dropdown
        ul.dropdown-menu.animated.fadeInRight.w
          li
            a(href='/') Return to Home
          li
            a(ng-click='resetLocalStorage()') Reset localStorage
          li
            a(ng-click='clearCache()') Clear Cache
