nav.navi.clearfix

  script(type='text/javascript').
  
    // Declare variables for easy use
    // Section 1
    var media_is_link = $(".media_is_link")
    var video_text_audio_link = $(".video_text_audio_link")
    var is_this_media_link = $(".is_this_media_link") // starred
    var content_and_ads_link = $(".content_and_ads_link")
    var ad_models_link = $(".ad_models_link")
    var linear_vs_dynamic_link = $(".linear_vs_dynamic_link") // starred
    var platforms_link = $(".platforms_link")
    var key_players_link = $(".key_players_link")
    var platforms_and_key_players_link = $(".platforms_and_key_players_link") // starred
    var what_have_we_learned_link = $(".what_have_we_learned_link")
    // Section 2
    var where_does_nielsen_come_in_link = $(".where_does_nielsen_come_in_link")
    var what_are_ratings_link = $(".what_are_ratings_link")
    var ratings_reports_link = $(".ratings_reports_link")
    var primary_playback_periods_link = $(".primary_playback_periods_link")
    var ratings_game_link = $(".ratings_game_link") // starred
    var how_do_we_get_ratings_link = $(".how_do_we_get_ratings_link")
    var panels_link = $(".panels_link")
    // recent additions 12/6/16
    var tv_panels_overview_link = $(".tv_panels_overview_link")
    var tv_panels_methods_link = $(".tv_panels_methods_link")
    var tv_panels_panels_link = $(".tv_panels_panels_link")
    var digital_panels_overview_link = $(".digital_panels_overview_link")
    var digital_panels_methods_link = $(".digital_panels_methods_link")
    var digital_panels_panels_link = $(".digital_panels_panels_link")
    var audio_panels_overview_link = $(".audio_panels_overview_link")
    var audio_panels_methods_link = $(".audio_panels_methods_link")
    var audio_panels_panels_link = $(".audio_panels_panels_link")
    var tv_panels_link = $(".tv_panels_link")
    var audio_panels_link = $(".audio_panels_link")
    var mobile_panels_link = $(".mobile_panels_link")
    var panels_game_link = $(".panels_game_link") // starred
    var census_data_link = $(".census_data_link")
    var privacy_link = $(".privacy_link")
    // Add link-clicked class if in localStorage
    // media_is page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).media_is_link=="true" ) {
    media_is_link.addClass("link-clicked");
    }
    // video_text_audio page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).video_text_audio_link=="true" ) {
    video_text_audio_link.addClass("link-clicked");
    }
    // is_this_media page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).is_this_media_link=="true" ) {
    is_this_media_link.addClass("link-clicked");
    }
    // content_and_ads page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).content_and_ads_link=="true" ) {
    content_and_ads_link.addClass("link-clicked");
    }
    // ad_models_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).ad_models_link=="true" ) {
    ad_models_link.addClass("link-clicked");
    }
    // linear_vs_dynamic_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).linear_vs_dynamic_link=="true" ) {
    linear_vs_dynamic_link.addClass("link-clicked");
    }
    // platforms link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).platforms_link=="true" ) {
    platforms_link.addClass("link-clicked");
    }
    // game_3 link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).platforms_and_key_players_link=="true" ) {
    platforms_and_key_players_link.addClass("link-clicked");
    }
    // overlay link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).key_players_link=="true" ) {
    key_players_link.addClass("link-clicked");
    }
    // what_have_we_learned link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_have_we_learned_link=="true" ) {
    what_have_we_learned_link.addClass("link-clicked");
    }
    // where_does_nielsen_come_in link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).where_does_nielsen_come_in_link=="true" ) {
    where_does_nielsen_come_in_link.addClass("link-clicked");
    }
    // what_are_ratings page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).what_are_ratings_link=="true" ) {
    what_are_ratings_link.addClass("link-clicked");
    }
    // ratings_reports page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).ratings_reports_link=="true" ) {
    ratings_reports_link.addClass("link-clicked");
    }
    // primary_playback_periods page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).primary_playback_periods_link=="true" ) {
    primary_playback_periods_link.addClass("link-clicked");
    }
    // game_4 page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).ratings_game_link=="true" ) {
    ratings_game_link.addClass("link-clicked");
    }
    // how_do_we_get_ratings link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).how_do_we_get_ratings_link=="true" ) {
    how_do_we_get_ratings_link.addClass("link-clicked");
    }
    // panels page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).panels_link=="true" ) {
    panels_link.addClass("link-clicked");
    }
    // Recent additions 12/6/16
    // tv_panels_overview_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).tv_panels_overview_link=="true" ) {
    tv_panels_overview_link.addClass("link-clicked");
    }
    // tv_panels_methods_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).tv_panels_methods_link=="true" ) {
    tv_panels_methods_link.addClass("link-clicked");
    }
    // tv_panels_panels_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).tv_panels_panels_link=="true" ) {
    tv_panels_panels_link.addClass("link-clicked");
    }
    // digital_panels_overview_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).digital_panels_overview_link=="true" ) {
    digital_panels_overview_link.addClass("link-clicked");
    }
    // digital_panels_methods_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).digital_panels_methods_link=="true" ) {
    digital_panels_methods_link.addClass("link-clicked");
    }
    // digital_panels_panels_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).digital_panels_panels_link=="true" ) {
    digital_panels_panels_link.addClass("link-clicked");
    }
    // audio_panels_overview_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_overview_link=="true" ) {
    audio_panels_overview_link.addClass("link-clicked");
    }
    // audio_panels_methods_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_methods_link=="true" ) {
    audio_panels_methods_link.addClass("link-clicked");
    }
    // audio_panels_panels_link page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_panels_link=="true" ) {
    audio_panels_panels_link.addClass("link-clicked");
    }
    // tv_panels page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).tv_panels_link=="true" ) {
    tv_panels_link.addClass("link-clicked");
    }
    // audio_panels page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).audio_panels_link=="true" ) {
    audio_panels_link.addClass("link-clicked");
    }
    // mobile_panels page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).mobile_panels_link=="true" ) {
    mobile_panels_link.addClass("link-clicked");
    }
    // game_5 page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).panels_game_link=="true" ) {
    panels_game_link.addClass("link-clicked");
    }
    // census_data page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).census_data_link=="true" ) {
    census_data_link.addClass("link-clicked");
    }
    // privacy page
    if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).privacy_link=="true" ) {
    privacy_link.addClass("link-clicked");
    }
    // Add link-clicked class immediately on click
    // media_is page
    media_is_link.on("click", function(){
    media_is_link.addClass("link-clicked");
    });
    // video_text_audio page
    video_text_audio_link.on("click", function(){
    video_text_audio_link.addClass("link-clicked");
    });
    // is_this_media page
    is_this_media_link.on("click", function(){
    is_this_media_link.addClass("link-clicked");
    });
    // content_and_ads page
    content_and_ads_link.on("click", function(){
    content_and_ads_link.addClass("link-clicked");
    });
    // ad_models page
    ad_models_link.on("click", function(){
    ad_models_link.addClass("link-clicked");
    });
    // linear_vs_dynamic page
    linear_vs_dynamic_link.on("click", function(){
    linear_vs_dynamic_link.addClass("link-clicked");
    });
    // platforms page
    platforms_link.on("click", function(){
    platforms_link.addClass("link-clicked");
    });
    // game_3 page
    platforms_and_key_players_link.on("click", function(){
    platforms_and_key_players_link.addClass("link-clicked");
    });
    // key_players
    key_players_link.on("click", function(){
    key_players_link.addClass("link-clicked");
    });
    // what_have_we_learned
    what_have_we_learned_link.on("click", function(){
    what_have_we_learned_link.addClass("link-clicked");
    });
    // Section 2
    // where_does_nielsen_come_in
    where_does_nielsen_come_in_link.on("click", function(){
    where_does_nielsen_come_in_link.addClass("link-clicked");
    });
    // what_are_ratings
    what_are_ratings_link.on("click", function(){
    what_are_ratings_link.addClass("link-clicked");
    });
    // ratings_reports
    ratings_reports_link.on("click", function(){
    ratings_reports_link.addClass("link-clicked");
    });
    // primary_playback_periods
    primary_playback_periods_link.on("click", function(){
    primary_playback_periods_link.addClass("link-clicked");
    });
    // game_4
    ratings_game_link.on("click", function(){
    ratings_game_link.addClass("link-clicked");
    });
    // how_do_we_get_ratings
    how_do_we_get_ratings_link.on("click", function(){
    how_do_we_get_ratings_link.addClass("link-clicked");
    });
    // panels
    panels_link.on("click", function(){
    panels_link.addClass("link-clicked");
    });
    // recent additions 12/6/16
    // tv_panels_overview
    tv_panels_overview_link.on("click", function(){
    tv_panels_overview_link.addClass("link-clicked");
    });
    // tv_panels_methods
    tv_panels_methods_link.on("click", function(){
    tv_panels_methods_link.addClass("link-clicked");
    });
    // tv_panels_panels
    tv_panels_panels_link.on("click", function(){
    tv_panels_panels_link.addClass("link-clicked");
    });
    // digital_panels_overview
    digital_panels_overview_link.on("click", function(){
    digital_panels_overview_link.addClass("link-clicked");
    });
    // digital_panels_methods
    digital_panels_methods_link.on("click", function(){
    digital_panels_methods_link.addClass("link-clicked");
    });
    // digital_panels_panels
    digital_panels_panels_link.on("click", function(){
    digital_panels_panels_link.addClass("link-clicked");
    });
    // audio_panels_overview
    audio_panels_overview_link.on("click", function(){
    audio_panels_overview_link.addClass("link-clicked");
    });
    // audio_panels_methods
    audio_panels_methods_link.on("click", function(){
    audio_panels_methods_link.addClass("link-clicked");
    });
    // audio_panels_panels
    audio_panels_panels_link.on("click", function(){
    audio_panels_panels_link.addClass("link-clicked");
    });
    // tv_panels
    tv_panels_link.on("click", function(){
    tv_panels_link.addClass("link-clicked");
    });
    // audio_panels
    audio_panels_link.on("click", function(){
    audio_panels_link.addClass("link-clicked");
    });
    // mobile_panels
    mobile_panels_link.on("click", function(){
    mobile_panels_link.addClass("link-clicked");
    });
    // game_5
    panels_game_link.on("click", function(){
    panels_game_link.addClass("link-clicked");
    });
    // census_data
    census_data_link.on("click", function(){
    census_data_link.addClass("link-clicked");
    });
    // privacy
    privacy_link.on("click", function(){
    privacy_link.addClass("link-clicked");
    });
  // navigation bar page titles
  ul#module-nav.nav
    li.hidden-folded.padder.m-t.m-b-sm.text-muted.section-header
      span What is Media?
    li#no-icon-page.media_is_link.link-clicked(ui-sref-active='active', ng-click="app.click_history.media_is_link = 'true';")
      a(ui-sref='media-overview.media-is')
        i
        span Media is...
    li#no-icon-page.video_text_audio_link(ui-sref-active='active', ng-click="app.click_history.video_text_audio_link = 'true';")
      a(ui-sref='media-overview.video-text-audio')
        i
        span Video, Text, Audio
    li#icon-page.is_this_media_link(ui-sref-active='active', ng-click="app.click_history.is_this_media_link = 'true';")
      a(ui-sref='media-overview.is-this-media')
        i.glyphicon.glyphicon-star
        span Is this media?
    li#no-icon-page.content_and_ads_link(ui-sref-active='active', ng-click="app.click_history.content_and_ads_link = 'true';")
      a(ui-sref='media-overview.content-and-ads')
        i
        span Content and Ads
    li#no-icon-page.ad_models_link(ui-sref-active='active', ng-click="app.click_history.ad_models_link = 'true';")
      a(ui-sref='media-overview.ad-models')
        i
        span Ad Models
    li#icon-page.linear_vs_dynamic_link(ui-sref-active='active', ng-click="app.click_history.linear_vs_dynamic_link = 'true';")
      a(ui-sref='media-overview.linear-vs-dynamic')
        i.glyphicon.glyphicon-star
        span Linear vs Dynamic
    li#no-icon-page.platforms_link(ui-sref-active='active', ng-click="app.click_history.platforms_link = 'true';")
      a(ui-sref='media-overview.platforms')
        i
        span Platforms
    li#no-icon-page.key_players_link(ui-sref-active='active', ng-click="app.click_history.key_players_link = 'true';")
      a(ui-sref='media-overview.key-players')
        i
        span Key Players
    li#icon-page.platforms_and_key_players_link(ui-sref-active='active', ng-click="app.click_history.platforms_and_key_players_link = 'true';")
      a(ui-sref='media-overview.platforms-and-key-players')
        i.glyphicon.glyphicon-star
        span Platforms & Key Players

    li.hidden-folded.padder.m-t.m-b-sm.text-muted.section-header
      span How are Media and Ratings Related?

    li#no-icon-page.what_are_ratings_link(ui-sref-active='active', ng-click="app.click_history.what_are_ratings_link = 'true';")
      a(ui-sref='media-overview.what-are-ratings')
        i
        span What are ratings?
    li#no-icon-page.ratings_reports_link(ui-sref-active='active', ng-click="app.click_history.ratings_reports_link = 'true';")
      a(ui-sref='media-overview.ratings-reports')
        i
        span Ratings Reports
    li#no-icon-page.primary_playback_periods_link(ui-sref-active='active', ng-click="app.click_history.primary_playback_periods_link = 'true';")
      a(ui-sref='media-overview.primary-playback-periods')
        i
        span Primary Playback Periods
    li#icon-page.ratings_game_link(ui-sref-active='active', ng-click="app.click_history.ratings_game_link = 'true';")
      a(ui-sref='media-overview.ratings-game')
        i.glyphicon.glyphicon-star
        span Ratings

    li#no-icon-page.how_do_we_get_ratings_link(ui-sref-active='active', ng-click="app.click_history.how_do_we_get_ratings_link = 'true';")
      a(ui-sref='media-overview.how-do-we-get-ratings')
        i
        span How do we get ratings?
    li#no-icon-page.panels_link(ui-sref-active='active', ng-click="app.click_history.panels_link = 'true';")
      a(ui-sref='media-overview.panels')
        i
        span Panels
    // RECENT ADDITIONS: 12/6/16
    li#no-icon-page.tv_panels_overview_link(ui-sref-active='active', ng-click="app.click_history.tv_panels_overview_link = 'true';")
      a(ui-sref='media-overview.tv-panels-overview')
        i
        span TV Panels - Overview
    li#no-icon-page.tv_panels_methods_link(ui-sref-active='active', ng-click="app.click_history.tv_panels_methods_link = 'true';")
      a(ui-sref='media-overview.tv-panels-methods')
        i
        span TV Panels - Methods
    li#no-icon-page.tv_panels_panels_link(ui-sref-active='active', ng-click="app.click_history.tv_panels_panels_link = 'true';")
      a(ui-sref='media-overview.tv-panels-panels')
        i
        span TV Panels - Panels

    li#no-icon-page.digital_panels_overview_link(ui-sref-active='active', ng-click="app.click_history.digital_panels_overview_link = 'true';")
      a(ui-sref='media-overview.digital-panels-overview')
        i
        span Digital Panels - Overview
    li#no-icon-page.digital_panels_methods_link(ui-sref-active='active', ng-click="app.click_history.digital_panels_methods_link = 'true';")
      a(ui-sref='media-overview.digital-panels-methods')
        i
        span Digital Panels - Methods
    li#no-icon-page.digital_panels_panels_link(ui-sref-active='active', ng-click="app.click_history.digital_panels_panels_link = 'true';")
      a(ui-sref='media-overview.digital-panels-panels')
        i
        span Digital Panels - Panels

    li#no-icon-page.audio_panels_overview_link(ui-sref-active='active', ng-click="app.click_history.audio_panels_overview_link = 'true';")
      a(ui-sref='media-overview.audio-panels-overview')
        i
        span Audio Panels - Overview
    li#no-icon-page.audio_panels_methods_link(ui-sref-active='active', ng-click="app.click_history.audio_panels_methods_link = 'true';")
      a(ui-sref='media-overview.audio-panels-methods')
        i
        span Audio Panels - Methods
    li#no-icon-page.audio_panels_panels_link(ui-sref-active='active', ng-click="app.click_history.audio_panels_panels_link = 'true';")
      a(ui-sref='media-overview.audio-panels-panels')
        i
        span Audio Panels - Panels

    li#icon-page.panels_game_link(ui-sref-active='active', ng-click="app.click_history.panels_game_link = 'true';")
      a(ui-sref='media-overview.panels-game')
        i.glyphicon.glyphicon-star
        span Panels Game
    li#no-icon-page.census_data_link(ui-sref-active='active', ng-click="app.click_history.census_data_link = 'true';")
      a(ui-sref='media-overview.census-data')
        i
        span Census Data
    li#no-icon-page.privacy_link(ui-sref-active='active', ng-click="app.click_history.privacy_link = 'true';")
      a(ui-sref='media-overview.privacy')
        i
        span Privacy

