<script type="text/javascript">

$( document ).ready(function() {


  // PAGE BEFORE

  // jQuery for left-hand nav link
  var platforms_and_key_players_link = $(".platforms_and_key_players_link");
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).platforms_and_key_players_link=="true" ) {
      platforms_and_key_players_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav link gets a new class
  $("a.leftArrow").on("click", function(){
      platforms_and_key_players_link.addClass("link-clicked");
      console.log("left arrow added")
    });



  // PAGE AFTER

  // jQuery for left-hand nav link
  var ratings_reports_link = $(".ratings_reports_link")
  // Ask localStorage if link has been clicked before
  if ( JSON.parse(localStorage.getItem('ngStorage-click_history')).ratings_reports_link=="true" ) {
      ratings_reports_link.addClass("link-clicked");
    }
  // On clicking arrow, the left-hand nav gets a new class
    $("a.rightArrow").on("click", function(){
      ratings_reports_link.addClass("link-clicked");
      console.log("right arrow added")
    });
});



</script>



<div ng-controller="tldrTourCtrl" class="hbox hbox-auto-xs hbox-auto-sm">
  
  <div class="col">
    <div class="clearfix padder-md">
      <!-- <h3 class="text-info m-t-xl font-thin m-b-none">Who are the key players in the media industry?</h3> -->

      <!-- custom url modal -->
      <br><br>
      
      <!-- <a ui-sref="media-overview.what-are-ratings.tldr" class="btn btn-success" ng-click="app.click_history.what_are_ratings_modal_link = 'true';" class="what_are_ratings_link">TLDR</a> -->

      <h3 class="page-title red">What are Ratings?</h3>

      <p>So once we’re able to measure who is consuming content and ads across screens, the next question is, “What do buyers and sellers use to see how well they did?” Let’s take a look at what types of metrics media buyers and sellers use to sell and evaluate their media.</p>

      <p>Advertisers use a ton of metrics to inform their messaging strategies. Ratings provide the most well-known metric—the number of people exposed to a piece of content or ad. Remember, ratings are represented as a percentage of a specific population or audience—they’re often referred to as “the currency” of the media industry because they are used to price advertising. Once an ad campaign has run, media buyers and sellers review ratings reports to determine if their media reached the intended audience.</p>

      <p>What are ratings reports?</p>



    </div>
  </div>
</div>

<div class="arrowWrap">
        <ul class="arrows">
          <li><a ui-sref="media-overview.platforms-and-key-players" class="leftArrow" ng-click="app.click_history.platforms_and_key_players_link = 'true';" class="platforms_and_key_players_link" id="platforms_and_key_players_arrow"><i class="fa fa-play fa-rotate-180"></i></a></li>
          <li><a ui-sref="media-overview.ratings-reports" class="rightArrow" ng-click="app.click_history.ratings_reports_link = 'true';" class="ratings_reports_link" id="ratings_reports_arrow"><i class="fa fa-play"></i></a></li>
        </ul>
    </div>